<div class="container">
	<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Workoutdate</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  
  <div class="popup" id="js-popup">
    <div class="popup-inner">
      <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
      <div class="card-body text-center">
        <h5>トレーニングメニューデータがなく申し訳ございません</h5>
        <small>ご協力ありがとうございます</small>
      </div>
    </div>
  <div class="black-background" id="js-black-bg"></div>
  </div>
  
  <div class="row">
    <div class="col-md-8 ml-auto mr-auto">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">Let's TrainingRecord</h4>
        </div>
        <div class="card-body">
          <%= form_for @workoutdate do |f| %>
          <div class="row">
            <div class="col-md-12">
	            <%= f.label :Trainingmenu %>
	            <%= f.text_field :menu, placeholder: "トレーニング名を記入", class: 'form-control' %><br>
	          </div>
            <div class="col-md-12">
	            <%= f.label :Part, class: "bmd-label-floating" %>
          		<%= f.select :part, [['胸'], ['脚'], ['肩'], ['背中'], ['二頭'], ['三頭'], ['腹']], {}, class: "form-control" %><br>
	          </div>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	        登録する
		      </button>
		      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		        <div class="modal-dialog" role="document">
		          <div class="modal-content">
		            <div class="modal-header">
		              <h5 class="modal-title" id="exampleModalLabel">ご入力ありがとうございます</h5>
		              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		                <span aria-hidden="true">&times;</span>
		              </button>
		            </div>
		            <small class="modal-body">
		              送信後はトレーニング記録フォームに遷移します。<br>お手数おかけしますがそこで再度入力したメニューを検索いただき記録ください。
		            </small>
		            <div class="modal-footer">
		              <button type="button" class="btn btn-secondary" data-dismiss="modal">入力し直す</button>
		              <%= f.submit "送信", class: "btn btn-raised btn-primary" %> 
		            </div>
		          </div>
		        </div>
		      </div>
          <% end %>
          <small class="text-muted">※マシンがポンド表記の場合（1lb (ポンド) = 0.45kg）／左記参考にしていただきながらキログラム表記で登録ください<br>
            100lbの場合 = 100lb × 0.45 => 約45kg</small>
        </div>
      </div>
    </div>
  </div>
</div>