<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Withdrawal</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
	<h2>退会手続き</h2>
	<hr>
	<small class="text-muted">退会にあたり下記ご記入ください。</small>
	<div class="card">
		<div class="card-body">
      <%= form_for @withdrawal do |f| %>
      <div class="row">
        <div class="col-md-12">
            <%= f.hidden_field :user_id, value: current_user.id %>
          <div class="form-group">
            <%= f.label :退会理由 %>
            <%= f.text_area :reason, placeholder: "よろしければ退会のご理由をお聞かせください", class: 'form-control' %><br>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        退会処理を進める
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">退会に関しての注意点</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <small class="text-muted">
                １）退会処理完了後はこれまで記録してきたデータが完全に削除され復元ができなくなります。<br>
              	２）退会後はボディメイクに関する質問等も運営にすることはできなくなります。<br>
              	    ※万が一有料会員の点がご理由で退会をなさるのであればプランの変更も可能です。<br>
              	    <%= link_to "プラン変更はこちらから", plancheck_users_path(current_user), class: "" %>
              </small>
            </div>
            <div class="modal-footer">
              <%= link_to "退会をやめる", "", class: "btn btn-secondary" %>
              <%= f.submit "上記確認した上で退会処理を進める", class: "btn btn-raised btn-success", data: { disable_with: '問い合わせ中...' } %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
	</div>
</div>