<div class="container">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;"><%= current_user.username %> のページ</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-profile">
        <div class="card-avatar">
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image, class: "img" %>
          <% else %>
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
          <% end %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= current_user.username %></h4>
          <p class="card-description">
            <%= current_user.text %>
          </p>
          <% if current_user.plan == 'pln_c97be8359fee9eecf65b59eeed35' %>
            <%= link_to "ベーシックプラン", plancheck_users_path(current_user), class: "btn btn-default btn-round" %>
          <% elsif current_user.plan == 'pln_572790307dd04b525bdd0a155347' %>
            <%= link_to "プレミアムプラン", plancheck_users_path(current_user), class: "btn btn-default btn-round" %>
          <% else %>
            <%= link_to "フリープラン", plancheck_users_path(current_user), class: "btn btn-default btn-round" %>
          <% end %>  
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">My Profile</h4>
          <p class="card-category">Complete your profile!</p>
        </div>
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Email</label>
                  <h5 class="form-control"><%= current_user.email %></h5>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="bmd-label-floating">Birthday</label>
                  <h5 class="form-control"><%= current_user.birthday %></h5>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Area</label>
                  <h5 class="form-control"><%= current_user.area %></h5>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Sex</label>
                  <h5 class="form-control"><%= current_user.sex %></h5>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Age</label>
                  <h5 class="form-control"><%= current_user.age %></h5>
                </div>
              </div>
            </div>
            <% if current_user.id == current_user.id %>
              <span><%= link_to "プロフィール編集", edit_user_path(current_user), {:class => "btn btn-primary" } %></span>
            <% end %>
            <% if current_user.idealweight.present? %>
              <span><%= link_to "Bodymake目標を確認する", content_advicediaries_path, class: "btn btn-info" %></span>
            <% end %>
            <% if current_user.id == current_user.id %>
              <span><%= link_to "プランを確認・変更する", plancheck_users_path(current_user), class: "btn btn-success" %></span>
            <% end %>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  
  <% if current_user.username.blank? %>
  <div class="popup" id="js-popup">
    <div class="popup-inner">
      <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
      <div class="card-body text-left">
        <p class="card-text">ご登録ありがとうございます。早速プロフィールから充実させましょう！</p>
        <%= link_to "プロフィール入力", edit_user_path(current_user), class: "btn btn-raised btn-success" %>
      </div>
    </div>
  <div class="black-background" id="js-black-bg"></div>
  </div>
  <% end %>
  
  <% unless current_user.plan == 'free' %>
    <% if current_user.username.present? && current_user.idealweight.blank? && current_user.useradvice.blank? %>
    <div class="popup" id="js-popup">
      <div class="popup-inner">
        <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
        <div class="card-body text-left">
          <p class="card-text">本サービスでは『トレーニング』と『食事管理』の観点から理想の身体を作っていきます。<br>早速いくつかの質問に答えてスタートしていきましょう。</p>
          <%= link_to "Start!", "/idealweights/new", class: "btn btn-raised btn-success" %>
        </div>
      </div>
    <div class="black-background" id="js-black-bg"></div>
    </div>
    <% elsif current_user.username.present? && current_user.idealweight.blank? && current_user.useradvice.present? %>
    <div class="popup" id="js-popup">
      <div class="popup-inner">
        <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
        <div class="card-body text-left">
          <p class="card-text">本サービスでは『トレーニング』と『食事管理』の観点から理想の身体を作っていきます。<br>早速いくつかの質問に答えてスタートしていきましょう。</p>
          <%= link_to "Start!", "/idealweights/new", class: "btn btn-raised btn-success" %>
        </div>
      </div>
    <div class="black-background" id="js-black-bg"></div>
    </div>
    <% end %>
    <% if current_user.plan == 'pln_572790307dd04b525bdd0a155347' && current_user.username.present? && current_user.useradvice.blank? %>
    <div class="popup" id="js-popup">
      <div class="popup-inner">
        <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
        <div class="card-body text-left">
          <p class="card-text">入力情報が不足しています。下記よりご入力ください。</p>
          <%= link_to "Start!", "/useradvices/new", class: "btn btn-raised btn-success" %>
        </div>
      </div>
    <div class="black-background" id="js-black-bg"></div>
    </div>
    <% end %>
  <% end %>
</div>