<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <a class="navbar-brand" href="javascript:;">BasicPlan</a>
    </div>
    <%= render 'users/users' %>
  </div>
</nav>

	<% unless current_user.plan == 'pln_c97be8359fee9eecf65b59eeed35' %>
	<section class="free-first">
		<div class="container">
			<div class="row mx-auto text-center my-5">
				<div class="col-md-6 col-sm-6 text-left"><br>
					<h4 class="text-muted">Toreka BasicPlan</h4>
					<h1>ボディメイクをスムーズに成功させる</h1>
					<h3>Torekaベーシックプランではトレーニング内容・食事内容を簡単に記録、管理できるためボディメイクをスムーズに成功させることが可能です</h3><br>
					<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModalLong">
						<% if current_user.plan == 'free' && current_user.plan_id == 'pln_c97be8359fee9eecf65b59eeed35' && current_user.status == 'canceled' %>
							ベーシックプランを再開
						<% end %>
						<% if current_user.status != 'active' && current_user.plan != 'pln_c97be8359fee9eecf65b59eeed35' && current_user.plan_id != 'pln_c97be8359fee9eecf65b59eeed35' %>
							※無料トライアル（14日間）
						<% end %>
						<% if current_user.status == 'active' && current_user.plan != 'pln_c97be8359fee9eecf65b59eeed35' %>
							※ベーシックプランへ変更
						<% end %>
					</button>
					<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLongTitle">ご確認ください</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <div class="text-center">
							      <h3>ベーシックプランへ登録</h3><br>
							      <p>ベーシックプランへ登録します。<%= link_to "こちら", "/purchases/termsofservice", target: "_blank" %>をご確認いただきご同意の上下記ボタンより登録を完了してください</p>
							      <p class="text-rose">ベーシックプラン：月額480円</p>
							      <small class="text-muted">※ボタン押下後即座に課金が実行されます。<br>トライアル期間中の場合終了タイミングで課金がされます</small>
							      <br>
							        <% #以下カード情報を表示 %>
							        <%= "**** **** **** " + @default_card_information.last4 %>
							        <% exp_month = @default_card_information.exp_month.to_s %>
							        <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
							        <%= exp_month + " / " + exp_year %>
							      <br>
							      <% if current_user.plan == 'free' && current_user.status != 'canceled' %>
								      <%= form_tag(action: :pay, method: :post) do %>
								        <button data-disable-with="送信中..." class="btn btn-primary">ベーシックプランを開始する</button>
								        <br><small class="text-muted">※支払いは14日後に行われます</small>
								      <% end %>
							      <% end %>
							      <% if current_user.status == "canceled" && current_user.plan_id == 'pln_c97be8359fee9eecf65b59eeed35' %>
								      <%= form_tag(action: :resume, method: :post) do %>
								        <button data-disable-with="送信中..." class="btn btn-primary">ベーシックプランを再開する</button>
								        <!--<br><small class="text-muted">※支払いは14日後に行われます</small>-->
								      <% end %>
							      <% end %>
							      <% if current_user.plan == 'pln_572790307dd04b525bdd0a155347' && current_user.status != 'canceled' %>
								      <%= form_tag(action: :downdate, method: :post) do %>
								        <button data-disable-with="送信中..." class="btn btn-primary">ベーシックプランへグレードダウン</button>
								        <!--<br><small class="text-muted">※支払いは14日後に行われます</small>-->
								      <% end %>
							      <% end %>
								    <% if current_user.plan == 'free' && current_user.status == 'canceled' && current_user.plan_id == 'pln_572790307dd04b525bdd0a155347' %>  
								      <%= form_tag(action: :downdate_downgrade, method: :post) do %>
								        <button data-disable-with="送信中..." class="btn btn-primary">ベーシックプランへグレードダウン</button>
								        <!--<br><small class="text-muted">※支払いは14日後に行われます</small>-->
								      <% end %>
							      <% end %>
								  </div>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				<!--画像はPCのみ-->
				<div class="col-md-6 col-sm-6 text-right my-5">
					<div class="d-none d-lg-block">
						<%= image_tag "basic_index.png", class: "img-responsive img-rounded", width: "100%;" %>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="second">
		<div class="container">
			<div class="col-md-8 ml-auto mr-auto py-5">
				<h2 class="pt-5 text-center">ボディメイクに必要な情報全てを管理する</h2><hr><br>
				<p class="text-center text-muted">トレーニング・食事・日々の体重<br>ボディメイクにおいて必要な情報を全て管理することが可能</p>
				<div class="row pb-5">
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
						<%= image_tag "img_dambel.png", class: "img-responsive img-rounded", width: "80%;" %>
						<h4 class="pt-3">トレーニングを記録する</h4>
						<h6 class="text-muted">その日行ったメニューを簡単に記録することが可能。振り返りも容易</h6>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
						<%= image_tag "img_food.png", class: "img-responsive img-rounded", width: "80%;" %>
						<h4 class="pt-3">PFCに沿って食事管理する</h4>
						<h6 class="text-muted">ボディメイクに大切なPFCバランスに沿って食事内容を管理することが可能</h6>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
						<%= image_tag "img_weight.png", class: "img-responsive img-rounded", width: "80%;" %>
						<h4 class="pt-3">日々の体重変化を管理する</h4>
						<h6 class="text-muted">ボディメイクにおいて体重は大切な指標。簡単に管理することが可能</h6>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="seconds">
		<div class="container">
			<div class="col-md-6 ml-auto mr-auto pt-5">
				<h2 class="pt-5 text-center">フリープラン詳しい機能</h2>
				<hr >
			</div>
			<div class="row">
				<div class="col-md-10 ml-auto mr-auto pb-5">
					<%= image_tag "pr_t", class: "", width: "100%;" %>
					<h3 class="text-center">余計な機能がなくシンプルな設計</h3>
					<p class="text-muted text-center">無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</p>
					<%= image_tag "pr_f", class: "", width: "100%;" %>
					<h3 class="text-center">体重の変化を記録し可視化する</h3>
					<p class="text-muted text-center pb-5">毎日の体重の変化をわかりやすくチェックすることが可能です。<br>グラフでチェックすることで毎日の変化がわかりやすくなります。</p>
					<%= image_tag "pr_w", class: "", width: "100%;" %>
					<h3 class="text-center">PFCバランスベースで食事管理</h3>
					<p class="text-muted text-center">PFCバランスの面倒な計算は一切しなくて大丈夫です。<br>いくつか質問に答えるだけで導き出してくれます。</p>
				</div>
			</div>
			<div class="pricing-header text-center my-5">
				<div class="display-4 pb-5">
					<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
            <i class="material-icons">how_to_reg</i>
            無料で新規登録
          <% end %>
				</div>
			</div>
		</div>
	</section>
	
	<% else %>
	<!--共通-->
	<div class="container">
		<div class="text-center">
			<% if current_user.plan == 'pln_c97be8359fee9eecf65b59eeed35' %>
				<h3>現在のあなたのプランはベーシックプランです</h3>
			<% elsif current_user.plan == 'pln_572790307dd04b525bdd0a155347' %>
				<h3>現在のあなたのプランはプレミアムプランです</h3>
			<% else %>
				<h3>現在のあなたのプランはフリープランです</h3>
			<% end %>
		</div>
	  <div class="row">
	    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
	      <div class="card rounded-0 p-0 shadow-sm">
	        <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
	        <div class="card-body ">
            <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#exampleModalLong">
						  ベーシックプランをやめフリープランへ
						</button>
						<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLongTitle">ご確認ください</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <div class="text-center">
									  	<p>ベーシックプランをやめフリープランへ変更の手続きとなります。<br>変更で問題なければ下記のボタンより変更ください。</p>
									  </div>
						      </div>
						      <div class="modal-footer">
						      	<%= form_tag(action: :cancel, method: :post) do %>
									    <button data-disable-with="送信中..." class="btn btn-outline-primary">ベーシックプランをやめ無料プランへ</button>
									  <% end %>
						      </div>
						    </div>
						  </div>
						</div>
	        </div>
	      </div>
	    </div>
	    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
	      <div class="card rounded-0 p-0 shadow-sm">
	        <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
	        <div class="card-body ">
            <%= link_to "プレミアムプランへアップグレードする", "/purchases/premiumplan", class: "btn btn-md btn-primary" %>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<% end %>




