<!--PC-->
	<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
		<div class="container-fluid">
		  <div class="navbar-wrapper">
		    <a class="navbar-brand" href="javascript:;">PremiumPlan</a>
		  </div>
		  <%= render 'users/users' %>
		</div>
	</nav>

	<% unless current_user.plan == 'pln_572790307dd04b525bdd0a155347' %>
		<section class="firstss pt-5">
			<div class="container">
				<div class="row py-5">
					<div class="col-md-6">
						<h4 class="text-muted">Toreka PremiumPlan</h4>
						<h1>何をすればいいかはTorekaが教えてくれます</h1>
						<h3>Torekaプレミアムプランは初心者向けのプランです。<br>ボディメイクて何をすればいいのという課題を解決してくれます。</h3><br>
						<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModalLong">
							<% if current_user.plan == 'free' && current_user.plan_id == 'pln_572790307dd04b525bdd0a155347' && current_user.status == 'canceled' %>
								プレミアムプランを再開
							<% end %>
							<% if current_user.status != 'active' && current_user.plan != 'pln_572790307dd04b525bdd0a155347' && current_user.plan_id != 'pln_572790307dd04b525bdd0a155347' %>
								※無料トライアル（14日間）
							<% end %>
							<% if current_user.status == 'active' && current_user.plan != 'pln_572790307dd04b525bdd0a155347' %>
								※プレミアムプランへ変更
							<% end %>
						</button>
						<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLongTitle">ご確認ください</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <div class="text-center">
								      <h3>プレミアムプランへ登録</h3><br>
								      <p>プレミアムプランへ登録します。<%= link_to "こちら", "/purchases/termsofservice", target: "_blank" %>をご確認いただきご同意の上下記ボタンより登録を完了してください</p>
								      <p class="text-rose">プレミアムプラン：月額980円</p>
								      <small class="text-muted">※ボタン押下後即座に課金が実行されます。<br>トライアル期間中の場合終了タイミングで課金がされます</small>
								      <br>
								        <% #以下カード情報を表示 %>
								        <%= "**** **** **** " + @default_card_information.last4 %>
								        <% exp_month = @default_card_information.exp_month.to_s %>
								        <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
								        <%= exp_month + " / " + exp_year %>
								      <br>
								      <% if current_user.plan == 'free' && current_user.status != 'canceled' %>
									      <%= form_tag(action: :premium_pay, method: :post) do %>
									        <button data-disable-with="送信中..." class="btn btn-primary">同意してプレミアムプランを開始する</button>
									        <br><small class="text-muted">※支払いは14日後に行われます</small>
									      <% end %>
								      <% end %>
								      <% if current_user.status == "canceled" && current_user.plan_id == 'pln_572790307dd04b525bdd0a155347' %>
									      <%= form_tag(action: :resume, method: :post) do %>
									        <button data-disable-with="送信中..." class="btn btn-primary">同意してプレミアムプランを再開する</button>
									        <!--<br><small class="text-muted">※支払いは14日後に行われます</small>-->
									      <% end %>
								      <% end %>
									    <!--<% if current_user.plan == 'pln_c97be8359fee9eecf65b59eeed35' && current_user.status != 'canceled' %>-->
									    <!--  <%= form_tag(action: :update, method: :post) do %>-->
									    <!--    <button data-disable-with="送信中..." class="btn btn-primary">同意してプレミアムプランにアップグレード</button>-->
									        <!--<br><small class="text-muted">※支払いは14日後に行われます</small>-->
									    <!--  <% end %>-->
								     <!-- <% end %>-->
								      <!--<% if current_user.plan == 'free' && current_user.status == 'canceled' && current_user.plan_id == 'pln_c97be8359fee9eecf65b59eeed35' %>-->
									     <!-- <%= form_tag(action: :update_upgrade, method: :post) do %>-->
									     <!--   <button data-disable-with="送信中..." class="btn btn-primary">同意してプレミアムプランにアップグレード</button>-->
									        <!--<br><small class="text-muted">※支払いは14日後に行われます</small>-->
									     <!-- <% end %>-->
								      <!--<% end %>-->
									  </div>
						      </div>
						    </div>
						  </div>
						</div>
					</div>
					<div class="col-md-6">
						<%= image_tag "premium_index.png", class: "img-responsive img-rounded", width: "120%;" %>
					</div>
				</div>
			</div>
		</section>
	
		<section class="second">
			<div class="container">
				<div class="col-md-10 ml-auto mr-auto pt-5">
					<h2 class="pt-5 text-center">あなたに必要なメニューを提案してくれます</h2><hr><br>
					<p class="text-center text-muted">目的に応じあなたにとって的確なトレーニングメニューを提案してくれます。<br>言われた通りに取り組めば必ず目的を達成できます。</p>
					<div class="row pb-5">
						<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
							<%= image_tag "img_dambel.png", class: "img-responsive img-rounded", width: "80%;" %>
							<h4 class="pt-3">トレーニングを記録する</h4>
							<h6 class="text-muted">その日行ったメニューを簡単に記録することが可能。振り返りも容易</h6>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
							<%= image_tag "img_food.png", class: "img-responsive img-rounded", width: "80%;" %>
							<h4 class="pt-3">PFCに沿って食事管理する</h4>
							<h6 class="text-muted">ボディメイクに大切なPFCバランスに沿って食事内容を管理することが可能</h6>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
							<%= image_tag "img_weight.png", class: "img-responsive img-rounded", width: "80%;" %>
							<h4 class="pt-3">日々の体重変化を管理する</h4>
							<h6 class="text-muted">ボディメイクにおいて体重は大切な指標。簡単に管理することが可能</h6>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
							<%= image_tag "img_plan.png", class: "img-responsive img-rounded", width: "80%;" %>
							<h4 class="pt-3">ボディメイクプランの設定</h4>
							<h6 class="text-muted">ボディメイクは期間を決めることで成功する確率をあげることが可能</h6>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
							<%= image_tag "img_menu.png", class: "img-responsive img-rounded", width: "80%;" %>
							<h4 class="pt-3">目的に応じたメニュー提案</h4>
							<h6 class="text-muted">ボディメイク目的とトレーニング可能頻度を入力するだけで的確なメニューを提案してくれます</h6>
						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
							<%= image_tag "img_video.png", class: "img-responsive img-rounded", width: "80%;" %>
							<h4 class="pt-3">基礎トレーニングのHowto動画</h4>
							<h6 class="text-muted">メニューのやり方がわからなくなったら2〜3分にまとめられたHowto動画を見ることで解決できます</h6>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<section class="seconds">
			<div class="container">
				<div class="col-md-8 ml-auto mr-auto py-5">
					<h2 class="pt-5 text-center">プレミアムプラン詳しい機能</h2><hr><br>
				</div>
				<div class="row">
					<div class="col-md-10 ml-auto mr-auto pb-5">
						<%= image_tag "pr_t", class: "", width: "100%;" %>
						<h3 class="text-center">余計な機能がなくシンプルな設計</h3>
						<p class="text-muted text-center">無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</p>
						<%= image_tag "pr_f", class: "", width: "100%;" %>
						<h3 class="text-center">体重の変化を記録し可視化する</h3>
						<p class="text-muted text-center pb-5">毎日の体重の変化をわかりやすくチェックすることが可能です。<br>グラフでチェックすることで毎日の変化がわかりやすくなります。</p>
						<%= image_tag "pr_w", class: "", width: "100%;" %>
						<h3 class="text-center">PFCバランスベースで食事管理</h3>
						<p class="text-muted text-center">PFCバランスの面倒な計算は一切しなくて大丈夫です。<br>いくつか質問に答えるだけで導き出してくれます。</p>
						<%= image_tag "pr_d", class: "", width: "100%;" %>
						<h3 class="text-center">ボディメイクプランを設定する</h3>
						<p class="text-muted text-center">ただなんとなくボディメイクをしていても成功確率はあがりません。<br>プランを設定し行っていくことで成功する確率をあげることが可能です。</p>
						<%= image_tag "pr_p", class: "", width: "100%;" %>
						<h3 class="text-center">目的に応じたトレーニングメニューの提供</h3>
						<p class="text-muted text-center">初心者の方でボディメイクて何をすればよいのかわからないと言う人もいるかと思います。<br>そんな方向けのサービス。目的と頻度を入力するだけで何をすればよいのか導いてくれます。</p>
						<%= image_tag "pr_v", class: "", width: "100%;" %>
						<h3 class="text-center">Howtoトレーニング動画の視聴</h3>
						<p class="text-muted text-center">初心者の方は特にトレーニングの動作やマシンの使い方に迷うことがよくあります。<br>そんなときこのHowto動画を見ていただければ簡単に解決できます。<br>2〜3分の短い動画でどこでもわかりやすくチェックができます。</p>
						<%= image_tag "mp_l", class: "", width: "100%;" %>
						<h3 class="text-center">LINEを使って質問し放題</h3>
						<p class="text-muted text-center">ボディメイクに関する疑問があれば何でもし放題!!筋トレ歴6年のプロが回答します!!</p>
					</div>
				</div>
				<div class="pricing-header text-center my-5">
					<div class="display-4 pb-5">
						<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
	            <i class="material-icons">how_to_reg</i>
	            無料トライアル（14日間）
	          <% end %>
					</div>
				</div>
			</div>
		</section>
	
	<% else %>
	<!--共通-->
	<div class="container">
		<h3 class="text-center">現在のあなたのプランはプレミアムプランです</h3>
	  <div class="row">
	    <div class="col-md-5 mx-auto text-center">
	      <div class="card rounded-0 p-0 shadow-sm">
	        <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
	        <div class="card-body ">
            <button type="button" class="btn btn-md btn-primary" data-toggle="modal" data-target="#exampleModalLong">
						  プレミアムプランをやめフリープランへ
						</button>
						<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLongTitle">ご確認ください</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						        <div class="text-center">
									  	<p>プレミアムプランをやめフリープランへ変更の手続きとなります。<br>変更で問題なければ下記のボタンより変更ください。</p>
									  </div>
						      </div>
						      <div class="modal-footer">
						      	<%= form_tag(action: :cancel, method: :post) do %>
									    <button data-disable-with="送信中..." class="btn btn-outline-primary">プレミアムプランをやめ無料プランへ</button>
									  <% end %>
						      </div>
						    </div>
						  </div>
						</div>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
	<% end %>