<div class="container">
	<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Settings</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>

	<small class="text-muted">確認したい内容に応じて選択ください</small><br><br>
	<div class="row">
		<div class="col-md-4 ml-auto mr-auto">
	    <div class="card rounded-0 p-0 shadow-sm">
	      <%= image_tag "ota_1.png", class: "card-img-top", width: "50%;" %>
	      <div class="card-body text-left">
	        <small class="card-text text-muted">プラン変更はこちらから</small><br>
	        <%= link_to "プランを確認・変更する", plancheck_users_path(current_user), class: "btn btn-success" %>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-4 ml-auto mr-auto">
	    <div class="card rounded-0 p-0 shadow-sm">
	      <%= image_tag "ozo_3.png", class: "card-img-top", width: "50%;" %>
	      <div class="card-body text-left">
	        <small class="card-text text-muted">退会希望の方はこちらから</small><br>
	        <%= link_to "退会する", new_withdrawal_path, class: "btn btn-raised btn-danger" %>
	      </div>
	    </div>
	  </div>
	  <div class="col-md-4 ml-auto mr-auto">
	    <div class="card rounded-0 p-0 shadow-sm">
	      <%= image_tag "oji_4.png", class: "card-img-top", width: "50%;" %>
	      <div class="card-body text-left">
	        <small class="card-text text-muted">何でもお待ちしています！</small><br>
	        <%= link_to "お問い合わせ", "/inquiry", class: "btn btn-raised btn-info" %>
	      </div>
	    </div>
	  </div>
  </div>
</div>