
  <tr>
    <td><%= advicediary.date %></td>
    <td><%= advicediary.advicemenu.menu %></td>
    <td><%= advicediary.weight %>kg</td>  
    <td><%= advicediary.reps %>reps</td>
    <td><%= advicediary.weightsecond %>kg</td>  
    <td><%= advicediary.repssecond %>reps</td>
    <td><%= advicediary.weightthird %>kg</td>  
    <td><%= advicediary.repsthird %>reps</td>
    <td class="text-right">
      <%= link_to advicediary_path(advicediary), class: "btn btn-link btn-info btn-just-icon like" do %>
        <i class="material-icons">speaker_notes</i>
      <% end %>
      <%= link_to edit_advicediary_path(advicediary), class: "btn btn-link btn-warning btn-just-icon edit" do %>
        <i class="material-icons">edit</i>
      <% end %>
      <%= link_to advicediary_path(advicediary), method: :delete, remote: true, class: "btn btn-link btn-danger btn-just-icon remove" do %>
        <i class="material-icons">close</i>
      <% end %>
    </td>
  </tr>
