<div class="container">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">AdviceDiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6 mx-auto text-center">
      <div class="card card-profile">
        <div class="card-avatar">
          <% if current_user.image.attached? %>
            <%= image_tag current_user.image, class: "img" %>
          <% else %>
            <img class="img-responsive img-rounded" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
          <% end %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= current_user.username %> さんへのメニュープラン <br><small>(<%= current_user.useradvice.purpose %> プラン × 週<%= current_user.useradvice.frequency %>日)</small></h4>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
            Check!
          </button>
          <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Check!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>選択するメニューを下記からお選びください</p>
                  <small>※週1のみの方は選択肢が1つのみとなります</small><br>
                  <small>※提案されたメニューが複数ある場合は前回のトレーニングメニューと異なるメニューを選択するようにしてください。</small>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--PCの場合-->
  <!--<div class="d-none d-lg-block">-->
    <small class="text-muted">下記より本日のメニューを選択ください</small>
  <% if current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_a.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "A\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_b.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "B\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_c.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "C\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_d.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "D\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_e.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "E\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_f.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "F\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_g.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "G\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_h.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "H\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_i.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "I\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_j.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "J\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_k.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "K\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_l.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "L\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_m.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "M\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_n.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "N\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_5.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューE--</h5>
            <p class="card-text">
              <% @advicemenu_o.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "O\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_p.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "P\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_q.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "Q\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_r.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "R\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_s.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "S\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_t.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "T\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_u.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "U\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_v.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "V\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_w.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "W\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_x.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "X\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_y.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "Y\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_z.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "Z\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_aa.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AA\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_ab.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AB\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_ac.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AC\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_5.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューE--</h5>
            <p class="card-text">
              <% @advicemenu_ad.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AD\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ae.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AE\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_af.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AF\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ag.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AG\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ah.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AH\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ai.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AI\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_aj.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AJ\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ah.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AH\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ai.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AI\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_aj.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AJ\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ah.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AH\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ai.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AI\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_aj.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AJ\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ak.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AK\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_al.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AL\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_am.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AM\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_an.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AN\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ao.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AO\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_ap.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AP\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_aq.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AQ\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ar.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AR\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_as.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AS\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_at.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AT\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_aq.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AQ\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ar.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AR\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_as.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AS\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_at.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AT\r"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>