<div class="container">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">AdviceDiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-primary">
        <div class="card-body">
          <h5 class="card-category card-category-social">
            <i class="fa fa-twitter"></i> You're Plan
          </h5>
          <h4 class="card-title">
            <%= current_user.username %> さんへのメニュープラン <small>(<%= current_user.useradvice.purpose %> プラン × 週<%= current_user.useradvice.frequency %>日)</small>
          </h4>
          <div class="card-stats">
            <div class="author">
              <% if current_user.image.attached? %>
                <%= image_tag current_user.image, class: "avatar img-raised" %>
              <% else %>
                <img class="avatar img-raised" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
              <% end %>
            </div>
            <div class="stats ml-auto">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
                Check!
              </button>
              <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">Check!</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-primary">
                      <p>選択するメニューを下記からお選びください</p>
                      <small>※週1のみの方は選択肢が1つのみとなります</small><br>
                      <small>※提案されたメニューが複数ある場合は前回のトレーニングメニューと異なるメニューを選択するようにしてください。</small>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <small class="text-muted">下記より本日のメニューを選択ください</small>
  <% if current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_a.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "A"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_b.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "B"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_c.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "C"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_d.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "D"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_e.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "E"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_f.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "F"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_g.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "G"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_h.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "H"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_i.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "I"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_j.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "J"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "ダイエット" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_k.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "K"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_l.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "L"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_m.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "M"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_n.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "N"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oji_5.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューE--</h5>
            <p class="card-text">
              <% @advicemenu_o.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "O"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_p.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "P"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_q.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "Q"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_r.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "R"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_s.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "S"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_t.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "T"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_u.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "U"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_v.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "V"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_w.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "W"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_x.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "X"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_y.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "Y"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "筋力UP" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_z.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "Z"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_aa.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AA"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_ab.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AB"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_ac.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AC"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ozo_5.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body">
            <h5 class="card-title">--メニューE--</h5>
            <p class="card-text">
              <% @advicemenu_ad.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "選択する", new_advicediary_path(group: "AD"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ae.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AE"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_af.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AF"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ag.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AG"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ah.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AH"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ai.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AI"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_aj.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AJ"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ah.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AH"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ai.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AI"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_aj.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AJ"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美尻" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ah.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AH"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ai.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AI"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "oba_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_aj.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AJ"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 1 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_ak.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AK"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 2 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_al.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AL"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_am.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AM"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 3 %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_an.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AN"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ao.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AO"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_ap.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AP"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 4 %>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_aq.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AQ"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ar.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AR"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_as.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AS"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_at.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AT"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% elsif current_user.useradvice.purpose == "美女コース" && current_user.useradvice.frequency == 5 %>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_1.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューA--</h5>
            <p class="card-text">
              <% @advicemenu_aq.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AQ"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_2.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューB--</h5>
            <p class="card-text">
              <% @advicemenu_ar.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AR"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_3.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューC--</h5>
            <p class="card-text">
              <% @advicemenu_as.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AS"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 mx-auto text-center">
        <div class="card rounded-0 p-0 shadow-sm">
          <%= image_tag "ode_4.png", class: "card-img-top", width: "50%;" %>
          <div class="card-body text-left">
            <h5 class="card-title">--メニューD--</h5>
            <p class="card-text">
              <% @advicemenu_at.each do |advicemenu| %>
              ■<%= advicemenu.menu %><br>
              <% end %>
            </p>
            <%= link_to "チョイスする", new_advicediary_path(group: "AT"), class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>


