<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">AdviceDiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h4 class="nav-tabs-title">
                <i class="material-icons">trending_down</i> トレーニングを記録する
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" style="table-layout:fixed;">
              <thead class="thead-light">
                <tr>
                  <th style="width:150px;">日付</th>
                  <th style="width:200px;">メニュー</th>
                  <th style="width:80px;">重量</th>
                  <th style="width:80px;">回数</th>
                  <th style="width:80px;">重量</th>
                  <th style="width:80px;">回数</th>
                  <th style="width:80px;">重量</th>
                  <th style="width:80px;">回数</th>
                  <th style="width:200px">memo</th>
                </tr>
              </thead>
              <tbody>
                <%= form_for @advicediary do |f| %>
                <tr>
                  <td><%= f.date_field :date, placeholder: 'date', class: 'form-control' %></td>
                  <td><%= f.collection_select :advicemenu_id, Advicemenu.all, :id, :menu, { include_blank: '選択してください'}, class: 'form-control' %></td>
                  <td><%= f.number_field :weight, placeholder: 'kg', class: 'form-control' %></td>
                  <td><%= f.number_field :reps, placeholder: 'reps', class: 'form-control' %></td>
                  <td><%= f.number_field :weightsecond, placeholder: 'kg', class: 'form-control' %></td>
                  <td><%= f.number_field :repssecond, placeholder: 'reps', class: 'form-control' %></td>
                  <td><%= f.number_field :weightthird, placeholder: 'kg', class: 'form-control' %></td>
                  <td><%= f.number_field :repsthird, placeholder: 'reps', class: 'form-control' %></td>
                  <td><%= f.text_field :memo, placeholder: 'memo', class: 'form-control' %></td>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :idealweight_id, value: current_user.idealweight.id %>
                  <%= f.hidden_field :useradvice_id, value: current_user.useradvice.id %>
                </tr>
              </tbody>
            </table>
          </div>
          <thead>
            <tr>
              <td><%= f.submit "変更する", class: "btn btn-raised btn-primary" %></td>
            </tr>
          </thead>
            <% end %>
        </div>
      </div>
      <div class="container">
        <small class="text-muted">※マシンがポンド表記の場合（1lb (ポンド) = 0.45kg）／左記参考にしていただきながらキログラム表記で登録ください<br>
          100lbの場合 = 100lb × 0.45 => 約45kg
        </small>
      </div>
    </div>
  </div>
</div>

