<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">AdviceDiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">TrainingEdit</h4>
        </div>
        <div class="card-body">
          <%= form_for @advicediary do |f| %>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-primary">
                <%= f.label :date %>
                <%= f.date_field :date %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group has-primary">
                <%= f.label :menu %>
                <%= f.collection_select :advicemenu_id, Advicemenu.all, :id, :menu, { include_blank: '選択してください'}, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-primary">
                <%= f.label :weight %>
                <%= f.number_field :weight, placeholder: 'kg', class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-primary">
                <%= f.label :reps %>
                <%= f.number_field :reps, placeholder: 'reps', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-primary">
                <%= f.label :weight %>
                <%= f.number_field :weightsecond, placeholder: 'kg', class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-primary">
                <%= f.label :reps %>
                <%= f.number_field :repssecond, placeholder: 'reps', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group has-primary">
                <%= f.label :weight %>
                <%= f.number_field :weightthird, placeholder: 'kg', class: 'form-control' %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group has-primary">
                <%= f.label :reps %>
                <%= f.number_field :repsthird, placeholder: 'reps', class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group has-primary">
                <%= f.label :Memo %>
                <%= f.text_field :memo, placeholder: 'memo', class: 'form-control' %>
              </div>
            </div>
          </div>
            <%= f.submit "変更する", class: "btn btn-raised btn-primary" %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :idealweight_id, value: current_user.idealweight.id %>
            <%= f.hidden_field :useradvice_id, value: current_user.useradvice.id %>
          <% end %>
        </div>
      </div>
      <div class="container">
        <small class="text-muted">※マシンがポンド表記の場合（1lb (ポンド) = 0.45kg）／左記参考にしていただきながらキログラム表記で登録ください<br>
          100lbの場合 = 100lb × 0.45 => 約45kg
        </small>
      </div>
    </div>
  </div>
</div>


          