<div class="container-fuild">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">AdviceDiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  
  <% if current_user.useradvice.present? && current_user.idealweight.present? %>
  <div class="popup" id="js-popup">
    <div class="popup-inner">
      <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
      <div class="card-body text-center">
        <h5>トレーニングを記録しよう</h5>
        <%= link_to "add...", choice_advicediaries_path, class: 'btn btn-primary' %>
      </div>
    </div>
  <div class="black-background" id="js-black-bg"></div>
  </div>
  
  <!--PC-->
  <div class="d-none d-lg-block">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">chrome_reader_mode</i>
            </div>
            <p class="card-category">Your Bodymake Plan／ボディメイクプラン</p>
            <h3 class="card-title"><%= current_user.useradvice.purpose %> <small>コース</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <%= link_to "ボディメイク目的を見直す", useradvice_path(current_user.useradvice) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">date_range</i>
            </div>
            <p class="card-category">Bodymake Period／ボディメイク期間</p>
            <h3 class="card-title"><%= current_user.what_day %> <small>日目</small> ／ <%= current_user.idealweight.period %> <small>日間</small></h3>
            <small class="text-info"><%= current_user.idealweight.start_day %> 〜 <%= current_user.idealweight.last_day %></small>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons">date_range</i> <%= link_to "ボディメイク期間を見直す", idealweight_path(current_user.idealweight) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">today</i>
            </div>
            <p class="card-category">Workout Frequency／トレーニング頻度</p>
            <h3 class="card-title"><small>週 </small><%= current_user.useradvice.frequency %> <small>日</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-info">event_note</i>
              <%= link_to "トレーニング頻度を見直す", useradvice_path(current_user.useradvice) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--スマホ-->
  <div class="d-lg-none">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">chrome_reader_mode</i>
              </div>
              <p class="card-category">Your Bodymake Plan／ボディメイクプラン</p>
              <h3 class="card-title"><%= current_user.useradvice.purpose %> <small>コース</small></h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <%= link_to "ボディメイク目的を見直す", useradvice_path(current_user.useradvice) %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">date_range</i>
              </div>
              <p class="card-category">Bodymake Period／ボディメイク期間</p>
              <h3 class="card-title"><%= current_user.what_day %> <small>日目</small> ／ <%= current_user.idealweight.period %> <small>日間</small></h3>
              <small class="text-info"><%= current_user.idealweight.start_day %> 〜 <%= current_user.idealweight.last_day %></small>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">date_range</i> <%= link_to "ボディメイク期間を見直す", idealweight_path(current_user.idealweight) %>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">today</i>
              </div>
              <p class="card-category">Workout Frequency／トレーニング頻度</p>
              <h3 class="card-title"><small>週 </small><%= current_user.useradvice.frequency %> <small>日</small></h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-info">event_note</i>
                <%= link_to "トレーニング頻度を見直す", useradvice_path(current_user.useradvice) %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  
  <!--共通-->
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="card card-nav-tabs">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <h4 class="nav-tabs-title">
              <i class="material-icons">find_in_page</i> Search...
            </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <%= form_with(scope: :search, url: advicediaries_path, method: :get, local: true) do |f| %>
          <div class="row">
            <div class="form-group col-md-6 ">
              <%= f.label :date／（初め）, class: "bmd-label-floating" %>
              <%= f.date_field :date_from, value: @search_params[:date_from], class: 'form-control' %>
            </div>
            <div class="form-group col-md-6 ">
              <%= f.label :date／（終わり）, class: "bmd-label-floating" %>
              <%= f.date_field :date_to, value: @search_params[:date_to], class: 'form-control' %>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-12 ">
              <%= f.label :menu／メニュー, class: "bmd-label-floating" %><br>
              <%= f.collection_select :advicemenu_id, Advicemenu.all, :id, :menu, selected: @search_params[:advicemenu_id], class: 'form-control', include_blank: t('helpers.select.include_blank') %>
            </div>
          </div>
              <%= f.submit "検索", class: "btn btn-raised btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </div><br>
  
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-tabs card-header-success">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h4 class="nav-tabs-title">
                <i class="material-icons">event_available</i> TrainingRecord
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-area">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th class="text-left">date</th>
                <th class="text-left">menu</th>
                <th class="text-center">weight</th>
                <th class="text-center">reps</th>
                <th class="text-center">weight</th>
                <th class="text-center">reps</th>
                <th class="text-center">weight</th>
                <th class="text-center">reps</th>
                <th class="text-right">action</th>
              </tr>
            </thead>
          <%= render @advicediaries %>
          <tbody><tr><th class="text-left"><%= link_to "トレーニングを記録する", "/advicediaries/choice", class: "btn btn-raised btn-primary" %></th></tr></tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  
  <!--Twitter-->
  <a href="https://twitter.com/share?url=https://toreka.herokuapp.com/&text=<%= current_user.useradvice.purpose %>コースで本日<%= current_user.what_day %>日目!!Torekaでボディメイク頑張ってるなう!!&hashtags=Toreka&hashtags=ダイエット&hashtags=ボディメイク&hashtags=筋トレ&hashtags=食事管理&hashtags=継続は力なり" class="twitter-share-button" data-show-count="false">Twitterでシェア</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  <!--facebook-->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v8.0&appId=432448867605749&autoLogAppEvents=1" nonce="sOOuxunP"></script>
  <div class="fb-share-button" data-href="http://yastinblog.com/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyastinblog.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">FBでシェア</a></div>
  <% end %>
  
  <!--なんかしらが未入力の場合-->
  <% if current_user.idealweight.blank? && current_user.useradvice.blank? %>
  <div class="text-center">
    <h3>ボディメイクに必要な情報を入力しましょう</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
      <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
      <%= link_to "Start!", "/idealweights/new", class: "btn btn-raised btn-success" %>
    </div>
  </div>
  <% elsif current_user.idealweight.blank? && current_user.useradvice.present? %>
  <div class="text-center">
    <h3>ボディメイクに必要な情報を入力しましょう</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
      <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
      <%= link_to "Start!", "/idealweights/new", class: "btn btn-raised btn-success" %>
    </div>
  </div>
  <% elsif current_user.idealweight.present? && current_user.useradvice.blank? %>
  <div class="text-center">
    <h3>ボディメイクに必要な情報を入力しましょう</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
      <%= image_tag "oji_1.png", class: "card-img-top", width: "50%;" %>
      <%= link_to "Start!", "/useradvices/new", class: "btn btn-raised btn-success" %>
    </div>
  </div>
  <% end %>
</div>