<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">AdviceDiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
 
  <h4 class="text-muted">Today's menu</h4>
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-testimonial">
            <div class="icon">
              <i class="material-icons">format_quote</i>
            </div>
            <div class="card-title">
            	<h4>提案されたメニューをこなそう</h4>
            </div>
            <div class="card-body">
              <h5 class="card-description">
                提案されたメニューをしっかりとこなすことで理想の身体に近づくことができるよ‼︎<br>
                万が一動作が不安だったら短い動画で学ぼう‼︎そしてすぐ実戦しよう‼︎
                他の種目をやりたかったら動画で動作を確認しながら行おう‼︎
              </h5>
            </div>
            <div class="card-footer">
              <h4 class="card-title">ボディメイクマスター@Bodyくん</h4>
              <div class="card-avatar">
                <a href="#pablo">
                  <img class="img" src="./../assets/img/faces/card-profile1-square.jpg" />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <div class="row">
        <% @advicemenus.each do |advicemenu| %>
        <div class="col-md-6">
          <div class="card card-blog">
            <div class="card-header card-header-image">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="<%= advicemenu.url %>" allowfullscreen></iframe>
              </div>
            </div>
            <div class="card-body">
              <h6 class="card-category text-info"><%= advicemenu.menu %></h6>
              <div class="card-description">
                <h6 class="card-subtitle mb-2 text-muted">回数目安：<%= advicemenu.minimam_reps %>回-<%= advicemenu.max_reps %>回</h6>
                <h6 class="card-subtitle mb-2 text-muted">セット数目安：<%= advicemenu.sets %>セット</h6>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-md-12">
      <div class="card mx-auto text-left">
        <div class="card-header card-header-icon card-header-primary">
          <div class="card-icon">
            <i class="material-icons">trending_down</i>
          </div>
          <h4 class="card-title ">トレーニングを記録する</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th style="width:150px;"><small>日付</small></th>
                  <th style="width:200px;"><small>メニュー</small></th>
                  <th style="width:80px;"><small>重量</small></th>
                  <th style="width:80px;"><small>回数</small></th>
                  <th style="width:80px;"><small>重量</small></th>
                  <th style="width:80px;"><small>回数</small></th>
                  <th style="width:80px;"><small>重量</small></th>
                  <th style="width:80px;"><small>回数</small></th>
                  <th style="width:200px"><small>Memo</small></th>
                </tr>
              </thead>
              <tbody>
                <%= form_for(@form, url: advicediaries_path, method: :post) do |fb| %>
                <%= fb.fields_for :advicediaries do |f| %>
                <tr>
                  <td><%= f.date_field :date, placeholder: 'date', class: 'form-control' %></td>
                  <td><%= f.collection_select :advicemenu_id, Advicemenu.all, :id, :menu, { include_blank: '選択してください'}, class: 'form-control' %></td>
                  <td><%= f.number_field :weight, placeholder: 'kg', class: 'form-control' %></td>
                  <td><%= f.number_field :reps, placeholder: 'reps', class: 'form-control' %></td>
                  <td><%= f.number_field :weightsecond, placeholder: 'kg', class: 'form-control' %></td>
                  <td><%= f.number_field :repssecond, placeholder: 'reps', class: 'form-control' %></td>
                  <td><%= f.number_field :weightthird, placeholder: 'kg', class: 'form-control' %></td>
                  <td><%= f.number_field :repsthird, placeholder: 'reps', class: 'form-control' %></td>
                  <td><%= f.text_field :memo, placeholder: 'memo', class: 'form-control' %></td>
                  <%= f.hidden_field :user_id, value: current_user.id %>
                  <%= f.hidden_field :idealweight_id, value: current_user.idealweight.id %>
                  <%= f.hidden_field :useradvice_id, value: current_user.useradvice.id %>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
          <thead>
            <tr>
              <td><%= fb.submit "登録する", class: "btn btn-raised btn-primary" %></td>
            </tr>
          </thead>
            <% end %>
        </div>
      </div>
      <div class="container">
        <small class="text-muted">※マシンがポンド表記の場合（1lb (ポンド) = 0.45kg）／左記参考にしていただきながらキログラム表記で登録ください<br>
          100lbの場合 = 100lb × 0.45 => 約45kg
        </small>
      </div>
    </div>
  </div>
</div>

