<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">AdviceDiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="card card-nav-tabs">
      <div class="card-header card-header-tabs card-header-primary">
        <div class="nav-tabs-navigation">
          <div class="nav-tabs-wrapper">
            <h4 class="nav-tabs-title">
              <i class="material-icons">trending_down</i> トレーニング詳細
            </h4>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="table-area">
        <table class="table">
          <thead>
            <tr>
              <th class="text-left">date</th>
              <th class="text-left">menu</th>
              <th class="text-center">weight</th>
              <th class="text-center">reps</th>
              <th class="text-center">weight</th>
              <th class="text-center">reps</th>
              <th class="text-center">weight</th>
              <th class="text-center">reps</th>
              <th class="text-right">action</th>
            </tr>
          </thead>
            <tr>
              <td class="text-left"><%= @advicediary.date %></td>
            	<td class="text-left"><%= @advicediary.advicemenu.menu %></td>
        			<td class="text-center"><%= @advicediary.weight %>kg</td>
        			<td class="text-center"><%= @advicediary.reps %>reps</td>
        			<td class="text-center"><%= @advicediary.weightsecond %>kg</td>
        			<td class="text-center"><%= @advicediary.repssecond %>reps</td>
        			<td class="text-center"><%= @advicediary.weightthird %>kg</td>
        			<td class="text-center"><%= @advicediary.repsthird %>reps</td>
        			<td class="td-actions text-right">
                <%= link_to edit_advicediary_path(@advicediary), class: "btn btn-info" do %>
                  <i class="material-icons">edit</i>
                <% end %>
                <%= link_to advicediary_path(@advicediary), method: :delete, class: "btn btn-danger" do %>
                    <i class="material-icons">close</i>
                <% end %>
              </td>
            </tr>
        </table>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="bmd-label-floating">Memo</label>
              <h5 class="form-control"><%= @advicediary.memo %></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>