<!--未ログイン用navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Toreka</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="material-icons">dashboard</i>
              HOME
            </a>
          </li>
          <li class="nav-item ">
            <%= link_to "/mainpages/plan_comparison", class: "nav-link" do %>
              <i class="material-icons">public</i>
              プラン比較
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="material-icons">fingerprint</i>
              Login
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="material-icons">person_add</i>
              無料新規登録
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
	
	<!--やっぱりPCとスマホで分けようと思う-->
	<section class="first pt-5">
		<div class="container">
			<div class="row py-5">
				<div class="col-md-6">
					<h4 class="text-muted">Toreka FreePlan</h4>
					<h1>ボディメイクをスムーズに成功させる</h1>
					<h3>Torekaフリープランではトレーニング内容・食事内容を簡単に記録、管理できるためボディメイクをスムーズに成功させることが可能です</h3><br>
					<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
            <i class="material-icons">how_to_reg</i>
            無料で新規登録
          <% end %>
				</div>
				<div class="col-md-6">
					<%= image_tag "basic_index.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="second">
		<div class="container">
			<div class="col-md-8 ml-auto mr-auto py-5">
				<h2 class="pt-5 text-center">ボディメイクに必要な情報全てを管理する</h2><hr><br>
				<p class="text-center text-muted">トレーニング・食事・日々の体重<br>ボディメイクにおいて必要な情報を全て管理することが可能</p>
				<div class="row pb-5">
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
						<%= image_tag "img_dambel.png", class: "img-responsive img-rounded", width: "80%;" %>
						<h4 class="pt-3">トレーニングを記録する</h4>
						<h6 class="text-muted">その日行ったメニューを簡単に記録することが可能。振り返りも容易</h6>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
						<%= image_tag "img_food.png", class: "img-responsive img-rounded", width: "80%;" %>
						<h4 class="pt-3">PFCに沿って食事管理する</h4>
						<h6 class="text-muted">ボディメイクに大切なPFCバランスに沿って食事内容を管理することが可能</h6>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center">
						<%= image_tag "img_weight.png", class: "img-responsive img-rounded", width: "80%;" %>
						<h4 class="pt-3">日々の体重変化を管理する</h4>
						<h6 class="text-muted">ボディメイクにおいて体重は大切な指標。簡単に管理することが可能</h6>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!--PC対応-->
	<div class="d-none d-lg-block">
	<section class="wowow">
		<div class="container">
			<div class="col-md-6 ml-auto mr-auto pt-5">
				<h2 class="pt-5 text-center">フリープラン詳しい機能</h2>
				<hr >
			</div>
			<div class="row pt-5">
				<div class="col-md-6 ">
          <div class="icon">
            <i class="material-icons">fitness_center</i>
            <i class="material-icons">fitness_center</i>
            <i class="material-icons">fitness_center</i>
          </div>
					<h2 class="">余計な機能がなくシンプルな設計</h2>
					<div class="icon">
            <i class="material-icons">fitness_center</i>
            <i class="material-icons">fitness_center</i>
            <i class="material-icons">fitness_center</i>
          </div>
					<h3>無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</h3>
				</div>
				<div class="col-md-6 ">
					<%= image_tag "training_index.png", class: "img-responsive img-rounded" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "weight_index.png", class: "img-responsive img-rounded" %>
				</div>
				<div class="col-md-6 text-right">
          <div class="icon">
            <i class="material-icons">monitor_weight</i>
            <i class="material-icons">monitor_weight</i>
            <i class="material-icons">monitor_weight</i>
          </div>
					<h2 class="">体重の変化を記録し可視化する</h2>
					<div class="icon">
            <i class="material-icons">monitor_weight</i>
            <i class="material-icons">monitor_weight</i>
            <i class="material-icons">monitor_weight</i>
          </div>
					<h3>毎日の体重の変化をわかりやすくチェックすることが可能です。<br>グラフでチェックすることで毎日の変化がわかりやすくなります。</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
          <div class="icon">
            <i class="material-icons">dinner_dining</i>
            <i class="material-icons">dinner_dining</i>
            <i class="material-icons">dinner_dining</i>
          </div>
					<h2 class="text-left ">PFCバランスベースで食事管理</h2>
					<div class="icon">
            <i class="material-icons">dinner_dining</i>
            <i class="material-icons">dinner_dining</i>
            <i class="material-icons">dinner_dining</i>
          </div>
					<h3 class="text-left">PFCバランスの面倒な計算は一切しなくて大丈夫です。<br>いくつか質問に答えるだけで導き出してくれます。</h3>
				</div>
				<div class="col-md-6">
					<%= image_tag "pfc_index.png", class: "img-responsive img-rounded" %>
				</div>
			</div>
			<div class="pricing-header text-center my-5">
				<div class="display-4 pb-5">
					<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
            <i class="material-icons">how_to_reg</i>
            無料で新規登録
          <% end %>
				</div>
			</div>
		</div>
	</section>
	</div>
	
	<!--スマホ・タブレット対応-->
	<div class="d-lg-none">
	<section class="wowow">
		<div class="container">
			<div class="col-md-6 ml-auto mr-auto pt-5">
				<h2 class="pt-5 text-center">フリープラン詳しい機能</h2>
				<hr >
			</div>
			<div class="row text-center">
				<div class="col-md-6 ">
					<h3 class="">余計な機能がなくシンプルな設計</h3>
					<h5 class="text-muted">無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</h5>
				</div>
				<div class="col-md-6 ">
					<%= image_tag "training_index.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-6">
					<h3 class="">体重の変化を記録し可視化する</h3>
					<h5 class="text-muted">毎日の体重の変化をわかりやすくチェックすることが可能です。<br>グラフでチェックすることで毎日の変化がわかりやすくなります。</h5>
				</div>
				<div class="col-md-6">
					<%= image_tag "weight_index.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
			<div class="row text-center">
				<div class="col-md-6">
					<h3 class="">PFCバランスベースで食事管理</h3>
					<h5 class="text-muted">PFCバランスの面倒な計算は一切しなくて大丈夫です。<br>いくつか質問に答えるだけで導き出してくれます。</h5>
				</div>
				<div class="col-md-6">
					<%= image_tag "pfc_index.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
			<div class="pricing-header text-center my-5">
				<div class="display-4 pb-5">
					<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
            <i class="material-icons">how_to_reg</i>
            無料で新規登録
          <% end %>
				</div>
			</div>
		</div>
	</section>
	</div>