<!--未ログイン用navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Toreka</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="material-icons">dashboard</i>
              HOME
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              プラン
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/mainpages/plan_comparison">プランを比較</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/mainpages/basicplan">フリープラン</a>
              <a class="dropdown-item" href="/mainpages/premiumplan">プレミアムプラン</a>
            </div>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="material-icons">fingerprint</i>
              Login
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="material-icons">person_add</i>
              無料新規登録
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
	
	
	<section class="first pt-5">
		<div class="container">
			<div class="row py-5">
				<div class="col-md-6">
					<h4 class="text-muted">Toreka FreePlan</h4>
					<h1>ボディメイクをスムーズに成功させる</h1>
					<h3>Torekaフリープランではトレーニング内容・食事内容を簡単に記録、管理できるためボディメイクをスムーズに成功させることが可能です</h3><br>
					<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
            <i class="material-icons">how_to_reg</i>
            無料で新規登録
          <% end %>
				</div>
				<div class="col-md-6">
					<%= image_tag "basic_mockup.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
		</div>
	</section>
	
	
	<section class="second">
		<div class="container">
			<div class="col-md-8 ml-auto mr-auto pt-5">
				<h2 class="pt-5 text-center">ボディメイクに必要な情報全てを管理する</h2><br>
				<p class="text-center text-muted">トレーニング・食事・日々の体重。<br>ボディメイクにおいて必要な情報を全て管理することが可能</p>
			</div>
			<div class="row pb-5">
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <%= image_tag "senzai1.png", class:"img" %>
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">トレーニングを記録する</h6>
				      <hr>
				      <p class="card-description">
				        その日行ったメニューを簡単に記録することが可能。振り返りも容易
				      </p>
				    </div>
					</div>
				</div>
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <%= image_tag "senzai2.png", class:"img" %>
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">日々の体重変化を管理する</h6>
				      <hr>
				      <p class="card-description">
				        ボディメイクにおいて体重は大切な指標。簡単に管理することが可能
				      </p>
				    </div>
					</div>
				</div>
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
				    	<%= image_tag "senzai3.png", class:"img" %>
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">食事内容をPFCに沿って管理する</h6>
				      <hr>
				      <p class="card-description">
				        ボディメイクに大切なPFCバランスに沿って食事内容を管理することが可能
				      </p>
				    </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wowow">
		<div class="container">
			<div class="col-md-8 ml-auto mr-auto pt-5">
				<h2 class="pt-5 text-center">フリープラン詳しい機能</h2><br>
				<!--<p class="text-center text-muted">トレーニング・食事・日々の体重。<br>ボディメイクにおいて必要な情報を全て管理することが可能</p>-->
			</div>
			<div class="row pt-5">
				<div class="col-md-6 pt-5 mt-5">
					<h2 class="pt-5 text-primary">余計な機能がなくシンプルな設計</h2>
					<h4>無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</h4>
				</div>
				<div class="col-md-6 ">
					<%= image_tag "tr_mockup2.png", class: "img-responsive img-rounded", width: "60%;" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "tr_mockup7.png", class: "img-responsive img-rounded", width: "70%;" %>
				</div>
				<div class="col-md-6 pt-5">
					<h2 class="text-left pt-5 text-primary">日付毎に管理し取り出しやすい</h2>
					<h4 class="text-left">日付単位でトレーニングを管理するためいつでも振り返ることが可能です。<br>前回のトレーニング内容や重量などを簡単に振り返ることが可能です。</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 pt-5 mt-5">
					<h2 class="pt-5 text-primary ">体重の変化を可視化する</h2>
					<h4>毎日の体重の変化をわかりやすくチェックすることが可能です。<br>グラフでチェックすることで毎日の変化がわかりやすくなります。</h4>
				</div>
				<div class="col-md-6">
					<%= image_tag "wg_mockup.png", class: "img-responsive img-rounded", width: "120%;" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "fd_mockup.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
				<div class="col-md-6 pt-5">
					<h2 class="text-left pt-5 text-primary">PFCバランスベースで食事を管理する</h2>
					<h4 class="text-left">PFCバランスの面倒な計算は一切しなくて大丈夫です。<br>いくつか質問に答えるだけで導き出してくれます。</h4><br>
				</div>
			</div>
			<div class="pricing-header text-center my-5">
				<div class="display-4 pb-5">
					<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
            <i class="material-icons">how_to_reg</i>
            無料で新規登録
          <% end %>
				</div>
			</div>
		</div>
	</section>
	