<!--PC-->
<div class="d-none d-lg-block">
<section class="free-first">
	<div class="container">
	<div class="row mx-auto text-center my-5">
		<div class="col-md-6 col-sm-6 text-left"><br>
			<h4 class="text-muted">Toreka FreePlan</h4>
			<h1>自身のトレーニング記録・管理を可能にする</h1>
			<h3>まだトレーニングして終わりの生活を送っていますか？？<br>Torekaでは簡単にトレーニング管理をすることが可能です。</h3><br>
			<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-success" %>
		</div>
		<div class="col-md-6 col-sm-6 text-right my-5">
			<%= image_tag "tr_mockup3.png", class: "img-responsive img-rounded", width: "100%;" %>
		</div>
	</div>
	</div>
</section>
<section class="free-second">
	<div class="container">
		<div class="col-md-8 col-md-offset-2 mx-auto text-center my-5">
			<h2 class="pt-5">デジタルでトレーニングを管理する</h2><br>
			<p class="text-center text-muted">トレーニングをする。記録する。この当たり前の事がなかなかできません。<br>Torekaなら簡単に記録ができ振り返りも簡単なので成長速度が向上します。</p>
		</div>
		<div class="col-md-6 col-lg-12 col-md-offset-3 mx-auto text-center">
			<div class="row">
				<div class="col-lg-6 mb-5">
					<%= image_tag "trainingaicon.png",width: "30%;", class: "my-4" %>
					<h4>トレーニングを記録する</h4>
					<hr>
					<p>その日行ったメニューを漏れなく<br>かつ簡単に記録することが可能</p><br>
				</div>
				<div class="col-lg-6">
					<%= image_tag "before.png",width: "26%;", class: "my-4" %>
					<h4>トレーニングを振り返る</h4>
					<hr>
					<p>過去の自分と比較し<br>成長度合いを見計らうことが可能</p><br>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="">
	<div class="container">
		<div class="row mx-auto text-center my-5">
			<div class="col-md-6 col-sm-6 text-left">
				<h2 class="my-5 text-success">余計な機能がなくシンプルな設計</h2>
				<h4>無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</h4><br>
			</div>
			<div class="col-md-6 col-sm-6 text-right">
				<%= image_tag "tr_mockup5.png", class: "img-responsive img-rounded", width: "120%;" %>
			</div>
		</div>
		<div class="row mx-auto text-center">
			<div class="col-md-6 col-sm-6 text-left">
				<%= image_tag "tr_mockup7.png", class: "img-responsive img-rounded", width: "70%;" %>
			</div>
			<div class="col-md-6 col-sm-6 text-right">
				<h2 class="text-left my-5 text-success">日付毎に管理し取り出しやすい</h2>
				<h4 class="text-left">日付単位でトレーニングを管理するためいつでも振り返ることが可能です。<br>前回のトレーニング内容や重量などを簡単に振り返ることが可能です。</h4><br>
			</div>
		</div>
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<div class="display-4">
				<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-success" %>
			</div>
		</div>
	</div>
</section>
</div>

<!--スマホ-->
<div class="d-lg-none">
<section class="free-first">
	<div class="container">
	<div class="row mx-auto text-center ">
		<div class="col-md-6 col-sm-6 text-left"><br>
			<p class="text-muted mt-5 pt-5">Toreka FreePlan</p>
			<h2>自身のトレーニング記録・管理を可能にする</h2>
			<h4>まだトレーニングして終わりの生活を送っていますか？？<br>Torekaでは簡単にトレーニング管理をすることが可能です。</h4><br>
			<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-success" %>
		</div>
		<div class="col-md-6 col-sm-6 text-center pt-3">
			<%= image_tag "tr_mockup3.png", class: "img-responsive img-rounded", width: "100%;" %>
		</div>
	</div>
	</div>
</section>
<section class="free-second">
	<div class="container">
		<div class="col-md-6 col-md-offset-3 mx-auto text-center my-5">
			<h3 class="pt-5">デジタルでトレーニングを管理する</h3><br>
			<p class="text-left text-muted">トレーニングをする。記録する。この当たり前の事がなかなかできません。<br>Torekaなら簡単に記録ができ振り返りも簡単なので成長速度が向上します。</p>
		</div>
		<div class="col-md-6 col-lg-12 col-md-offset-3 mx-auto text-center">
			<div class="row">
				<div class="col-lg-6 ">
					<%= image_tag "trainingaicon.png",width: "30%;", class: "my-4" %>
					<h4>トレーニングを記録する</h4>
					<hr>
					<p>その日行ったメニューを漏れなく<br>かつ簡単に記録することが可能</p><br>
				</div>
				<div class="col-lg-6">
					<%= image_tag "before.png",width: "26%;", class: "my-4" %>
					<h4>トレーニングを振り返る</h4>
					<hr>
					<p>過去の自分と比較し<br>成長度合いを見計らうことが可能</p><br>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="">
	<div class="container">
		<div class="row mx-auto text-center my-5">
			<div class="col-md-6 col-sm-6 text-left">
				<h2 class="my-3 text-success">余計な機能がなくシンプルな設計</h2>
				<h4>無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</h4><br>
			</div>
			<div class="col-md-6 col-sm-6 text-left">
				<%= image_tag "tr_mockup5.png", class: "img-responsive img-rounded", width: "120%;" %>
			</div>
		</div>
		<div class="row mx-auto text-center">
			<div class="col-md-6 col-sm-6 text-left">
				<h2 class="my-3 text-success">日付毎に管理し取り出しやすい</h2>
				<h4 class="text-left">日付単位でトレーニングを管理するためいつでも振り返ることが可能です。<br>前回のトレーニング内容や重量などを簡単に振り返ることが可能です。</h4><br>
			</div>
			<div class="col-md-6 col-sm-6 text-left">
				<%= image_tag "tr_mockup7.png", class: "img-responsive img-rounded", width: "70%;" %>
			</div>
		</div>
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<div class="display-4 my-5">
				<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-success" %>
			</div>
		</div>
	</div>
</section>	
</div>