<!--未ログイン用navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Toreka</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="material-icons">dashboard</i>
              HOME
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              プラン
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/mainpages/plan_comparison">プランを比較</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/mainpages/freeplan">フリープラン</a>
              <a class="dropdown-item" href="/mainpages/basicplan">ベーシックプラン</a>
              <a class="dropdown-item" href="/mainpages/premiumplan">プレミアムプラン</a>
            </div>
          </li>
          <li class="nav-item active">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="material-icons">fingerprint</i>
              Login
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="material-icons">person_add</i>
              無料新規登録
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

	<section class="first">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-8 ml-auto mr-auto text-center pt-5">
					<h1 class="pt-5 pb-3"><strong>ボディメイクを通して人生を豊かにしよう</strong></h1>
					<%= link_to "無料で新規登録", plan_comparison_mainpages_path, class: "btn btn-primary btn-lg " %>
					<%= image_tag "ipad.png", class: "img", width: "100%;" %>
				</div>
			</div>
		</div>
	</section>
	
	<section class="second">
		<div class="container">
			<div class="col-md-12 text-center py-5">
				<h2>ボディメイクでこんな悩みありませんか？</h2>
			</div>
			<div class="row">
		    <div class="col-md-6">
		      <ul class="timeline timeline-simple">
		        <li class="timeline-inverted">
		          <div class="timeline-badge danger">
		            <i class="material-icons">card_travel</i>
		          </div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <span class="badge badge-pill badge-danger">良い感じの管理アプリがない</span>
		            </div>
		            <div class="timeline-body">
		              <p>ボディメイクにおける良い感じの記録アプリが見つからない︎︎</p>
		            </div>
		          </div>
		        </li>
		        <li class="timeline-inverted">
		          <div class="timeline-badge success">
		            <i class="material-icons">extension</i>
		          </div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <span class="badge badge-pill badge-success">何をやっても痩せない</span>
		            </div>
		            <div class="timeline-body">
		              <p>食事も減らした。有酸素運動もたくさんやってる。でも痩せない。それやり方間違ってるかも…︎</p>
		            </div>
		          </div>
		        </li>
		        <li class="timeline-inverted">
		          <div class="timeline-badge info">
		            <i class="material-icons">fingerprint</i>
		          </div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <span class="badge badge-pill badge-info">ボディメイクて何すれば良いかわかんない</span>
		            </div>
		            <div class="timeline-body">
		              <p>ボディメイクにおいて『筋トレ』×『食事』が大事なのはわかるけど何すれば良いかわかんない…</p>
		              <p>パーソナルトレーニングも良さそうだけど高額すぎて足が重い…</p>
		            </div>
		          </div>
		        </li>
		      </ul>
		    </div>
		    <div class="col-md-6">
		      <div class="row">
		        <div class="col-md-12">
		          <div class="card card-testimonial">
		            <div class="icon">
		              <i class="material-icons">format_quote</i>
		            </div>
		            <div class="card-title">
		            	<h3>その悩みTorekaが解決します‼</h3>
		            </div>
		            <div class="card-body">
		              <h5 class="card-description">
		                ボディメイクは皆さんが思っている以上に難易度の高いモノではありません。正しいやり方を繰り返し継続する。これだけで理想の身体を作り出すことができるのです。Torekaではそんな再現性高い方法を提供しております。
		              </h5>
		            </div>
		            <div class="card-footer">
		              <h4 class="card-title">ボディメイクマスター@Bodyくん</h4>
		              <div class="card-avatar">
		                <a href="#pablo">
		                  <img class="img" src="./../assets/img/faces/card-profile1-square.jpg" />
		                </a>
		              </div>
		            </div>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	
	<section class="seconds">
		<div class="container">
			<h2 class="text-center py-5">Toreka でできること</h2>
		  <br>
		  <div class="row">
		    <div class="col-md-3 ml-auto mr-auto">
		      <div class="card card-product">
		        <div class="card-header card-header-image" data-header-animation="true">
		          <%= image_tag "fd_mockup.png", class: "img" %>
		        </div>
		        <div class="card-body">
		          <h3 class="card-title pb-2">
		            ボディメイクをスムーズに成功させる
		          </h4>
		          <div class="card-description">
		            トレーニング記録、毎日の体重の管理、食事の管理を簡単にすることが可能です。
		          </div>
		        </div>
		        <div class="card-footer">
		          <div class="ml-auto mr-auto">
		          <%= link_to "/mainpages/freeplan", class: "btn" do %>
		            <i class="material-icons">check</i>
		            Toreka Freeplan
		          <% end %>
		          </div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-3 ml-auto mr-auto">
		      <div class="card card-product">
		        <div class="card-header card-header-image" data-header-animation="true">
		          <%= image_tag "admock.png", class: "img" %>
		        </div>
		        <div class="card-body">
		          <h3 class="card-title pb-2">
		            0から身体を変える
		          </h3>
		          <div class="card-description">
		            初心者でも何をすればよいのかわからない。大丈夫です。あなたのデバイスが提案してくれます。
		          </div>
		        </div>
		        <div class="card-footer">
		          <div class="ml-auto mr-auto">
		          <%= link_to "mainpages/premiumplan", class: "btn" do %>
		            <i class="material-icons">check</i>
		            Toreka Premiumplan
		          <% end %>
		          </div>
		        </div>
		      </div>
		    </div>
		    <div class="col-md-3 ml-auto mr-auto">
		      <div class="card card-product">
		        <div class="card-header card-header-image" data-header-animation="true">
		          <%= image_tag "hv_mockup.png", class: "img" %>
		        </div>
		        <div class="card-body">
		          <h3 class="card-title pb-2">
		            正しい動作も理解できる
		          </h3>
		          <div class="card-description">
		            2分程度の短い動画でわからないタイミングでフォームチェックが可能です。もう恥ずかしい思いをして誰かに聞かなくて大丈夫。
		          </div>
		        </div>
		        <div class="card-footer">
		          <div class="ml-auto mr-auto">
		          <%= link_to "mainpages/premiumplan", class: "btn" do %>
		            <i class="material-icons">check</i>
		            Toreka Premiumplan
		          <% end %>
		          </div>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	
	<section class="third">
		<div class="container">
			<div class="card card-background py-5" style="background-image: url('https://images.unsplash.com/photo-1497366811353-6870744d04b2?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D')">
			  <div class="card-body">
			    <h6 class="card-category text-info">なんとなくは今日で終わり</h6>
			    <a href="#pablo">
			      <h3 class="card-title">あなたに合うプランが見つかる</h3>
			      </a>
			      <p class="card-description">
			      あなたのボディメイクに今必要なのはなんだろう。筋トレの記録？PFCバランスを知ること？そもそも何のトレーニングをすれば良いか知ること？さあ適切なプランを選択しよう
			      </p>
			    <a href="#pablo" class="btn btn-white btn-link">
			      <i class="material-icons">subject</i> 
			    </a>
			    <a href="#pablo" class="btn btn-white btn-link">
			      <i class="material-icons">watch_later</i> 
			    </a>
			  </div>
			</div>
			<div class="row">
		    <div class="col-lg-6 col-md-6 ml-auto mr-auto">
		      <div class="card card-pricing ">
		        <h6 class="card-category"> Free Plan</h6>
		        <div class="card-body">
		          <div class="card-icon icon-primary ">
		            <i class="material-icons">weekend</i>
		          </div>
		          <h3 class="card-title">¥0 / month</h3>
		          <p class="card-description">トレーニング・食事の管理をしたい方向け</p>
		        </div>
		        <div class="card-footer justify-content-center ">
		          <%= link_to "Free Planの詳細を確認", "/mainpages/freeplan", class: "btn btn-round btn-white" %>
		        </div>
		      </div>
		    </div>
		    <div class="col-lg-6 col-md-6 ml-auto mr-auto">
		      <div class="card card-pricing ">
		        <h6 class="card-category"> Premium Plan</h6>
		        <div class="card-body">
		          <div class="card-icon icon-rose ">
		            <i class="material-icons">home</i>
		          </div>
		          <h3 class="card-title">¥980 / month</h3>
		          <p class="card-description">ボディメイク初心者向け。手厚いプラン</p>
		        </div>
		        <div class="card-footer justify-content-center ">
		          <%= link_to "Premium Planの詳細を確認", "/mainpages/premiumplan", class: "btn btn-round btn-white" %>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</section>
	
	<section class="fourth">
		<div class="container">
			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
				<h3>さあ始めよう！</h3>
				<p>結果を出す人は今日行動する。あなたはどう？</p><br>
				<%= link_to "無料で新規登録", plan_comparison_mainpages_path, class: "btn btn-primary btn-lg" %>
			</div>
		</div>
	</section>
