<!--未ログイン用navbar-->


  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Toreka</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="material-icons">dashboard</i>
              HOME
            </a>
          </li>
          <li class="nav-item ">
            <%= link_to "/mainpages/plan_comparison", class: "nav-link" do %>
              <i class="material-icons">public</i>
              プラン比較
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="material-icons">fingerprint</i>
              Login
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="material-icons">person_add</i>
              無料新規登録
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


	<section class="first pt-5">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 pt-5">
					<h1>ボディメイクを通じて人生を豊かにしよう</h1>
					<h3>Torekaはボディメイクを通じてあなたの人生をより良くしていくお手伝いをします</h3><br>
					<%= link_to new_user_registration_path, class: "btn btn-lg btn-primary" do %>
            <i class="material-icons">how_to_reg</i>
            無料で新規登録
          <% end %>
				</div>
				<div class="col-md-6 pb-2">
					<%= image_tag "main_index.png", class: "img-responsive img-rounded", width: "120%;" %>
				</div>
			</div>
		</div>
	</section>
	
	<section class="second">
		<div class="container">
			<div class="col-md-12 ml-auto mr-auto text-center py-5">
				<h2 class="pt-5">ボディメイクでこんな悩みありませんか？</h2>
				<hr>
			</div>
			<div class="row">
				<div class="col-md-6">
		      <%= image_tag "main_index2.png", class:"img-responsive img-rounded", width: "120%;" %>
		    </div>
		    <div class="col-md-6">
		      <ul class="timeline timeline-simple">
		        <li class="timeline-inverted">
		          <div class="timeline-badge danger">
		            <i class="material-icons">card_travel</i>
		          </div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <span class="badge badge-pill badge-danger">良い感じの管理アプリがない</span>
		            </div>
		            <div class="timeline-body">
		              <p>ボディメイクの良い感じの記録アプリが見つからない︎︎</p>
		            </div>
		          </div>
		        </li>
		        <li class="timeline-inverted">
		          <div class="timeline-badge success">
		            <i class="material-icons">extension</i>
		          </div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <span class="badge badge-pill badge-success">何をやっても痩せない</span>
		            </div>
		            <div class="timeline-body">
		              <p>食事も減らした。有酸素運動もたくさんやってる。でも痩せない…︎</p>
		            </div>
		          </div>
		        </li>
		        <li class="timeline-inverted">
		          <div class="timeline-badge info">
		            <i class="material-icons">fingerprint</i>
		          </div>
		          <div class="timeline-panel">
		            <div class="timeline-heading">
		              <span class="badge badge-pill badge-info">ボディメイクて何すれば良いかわかんない</span>
		            </div>
		            <div class="timeline-body">
		              <p>ボディメイクてそもそも何すれば良いかわかんない…</p>
		              <p>パーソナルトレーニングも良さそうだけど高額すぎて足が重い…</p>
		            </div>
		          </div>
		        </li>
		      </ul>
		    </div>
		  </div>
		</div>
	</section>
	
	<section class="seconds">
		<div class="container">
			<div class="col-md-10 ml-auto mr-auto py-5">
				<h2 class="pt-5 text-center">Toreka でできること</h2><hr><br>
				<div class="row pb-5">
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center pb-2">
						<%= image_tag "risou_body.png", class: "img-border", width: "80%;" %>
						<h4 class="pt-3">ボディメイクを成功させる</h4>
						<h6 class="text-muted">トレーニング記録、毎日の体重の管理、食事の管理を簡単にすることが可能です。最高のアシストをしてくれます。</h6>
						<%= link_to "/mainpages/basicplan", class: "btn" do %>
	            <i class="material-icons">check</i>
	            Toreka Freeplan
	          <% end %>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center pb-2">
						<%= image_tag "risou_body2.png", class: "img-border", width: "80%;" %>
						<h4 class="pt-3">0から身体を変える</h4>
						<h6 class="text-muted">初心者でも何をすればよいのかわからない。大丈夫です。あなたのデバイスが提案してくれます。誰でも成功に導きます。</h6>
						<%= link_to "mainpages/premiumplan", class: "btn" do %>
	            <i class="material-icons">check</i>
	            Toreka Premiumplan
	          <% end %>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-4 ml-auto mr-auto text-center pb-2">
						<%= image_tag "risou_body3.png", class: "img-border", width: "80%;" %>
						<h4 class="pt-3">正しい動作も理解できる</h4>
						<h6 class="text-muted">2分程度の短い動画でフォームチェックが可能です。もう恥ずかしい思いをして誰かに聞かなくて大丈夫。</h6>
						<%= link_to "mainpages/premiumplan", class: "btn" do %>
	            <i class="material-icons">check</i>
	            Toreka Premiumplan
	          <% end %>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="third">
		<div class="container">
			<div class="col-md-10 ml-auto mr-auto py-5">
				<h2 class="pt-5 text-center">あなたに合うプランが見つかる</h2><hr><br>
				<p class="text-center">あなたのボディメイクに今必要なのはなんだろう。<br>筋トレの記録？PFCバランスを知ること？そもそも何のトレーニングをすれば良いか知ること？<br>さあ適切なプランを選択しよう</p>
				<div class="row">
			    <div class="col-md-4 ml-auto mr-auto">
			      <div class="card card-pricing card-plain">
			        <h6 class="card-category"> Free Plan</h6>
			        <div class="card-body">
			          <div class="card-icon icon-primary ">
			            <i class="material-icons">weekend</i>
			          </div>
			          <h3 class="card-title">¥0 / month</h3>
			          <p class="card-description">トレーニング・食事の管理をしたい方向け</p>
			        </div>
			        <div class="card-footer justify-content-center ">
			          <%= link_to "/mainpages/basicplan", class: "btn btn-round btn-white" do %>
			          	<i class="material-icons">mobile_friendly</i>
			            Free Planの詳細を確認
			          <% end %>
			        </div>
			      </div>
			    </div>
			    <div class="col-md-4 ml-auto mr-auto">
			      <div class="card card-pricing ">
			        <h6 class="card-category"> Premium Plan</h6>
			        <div class="card-body">
			          <div class="card-icon icon-rose ">
			            <i class="material-icons">home</i>
			          </div>
			          <h3 class="card-title">¥980 / month</h3>
			          <p class="card-description">ボディメイク初心者向け。手厚いプラン</p>
			        </div>
			        <div class="card-footer justify-content-center ">
			          <%= link_to "/mainpages/premiumplan", class: "btn btn-round btn-primary" do %>
			            <i class="material-icons">mobile_friendly</i>
			            Premium Planの詳細を確認
			          <% end %>
			        </div>
			      </div>
			    </div>
			  </div>
		  </div>
		</div>
	</section>
	
	<section class="fourth pb-5">
		<div class="container">
			<div class="row py-5">
				<div class="col-md-8 ml-auto mr-auto text-center">
					<h3 class="pt-5">さあ始めよう！</h3>
					<p>結果を出す人は今日行動する。あなたはどう？</p><br>
					<%= link_to plan_comparison_mainpages_path, class: "btn btn-primary btn-lg" do %>
	          <i class="material-icons">how_to_reg</i>
	          無料で新規登録
	        <% end %>
					<%= image_tag "main_index1.png", class:"img-responsive img-rounded", width: "100%;" %>				
				</div>
			</div>
		</div>
	</section>
	
