<!--PC-->
<div class="d-none d-lg-block">
	<section class="first">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 mx-auto text-center my-5">
				<br><br><br><br><h1 class="text-white"><strong>ボディメイクを通して人生を豊かにしよう</strong></h1>
				<%= link_to "無料で新規登録", plan_comparison_mainpages_path, class: "btn btn-primary btn-lg my-5" %>
			</div>
		</div>
	</section>
	<section class="second">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 mx-auto text-center my-5">
				<h2 class="py-5">Torekaってどんなサービス？？</h2><br>
				<p>Torekaはこれまでになかったボディメイク自己管理サービスです。</p>
				<p>なぜ人はボディメイクに失敗してしまうのか。</p>
				<p>それは何をすべきかわかっていないからです。</p>
				<p>ボディメイクは皆さんが思っているよりもシンプルで簡単なものです。</p>
				<p>Torekaでは目的別にプランを用意しておりあなたのボディメイクのお手伝いを安価に提供します。</p>
				<p class="pb-5">もうボディメイクに無駄なお金はかけないでください。Torekaで十分です。</p>
			</div>
		</div>
	</section>
	<section class="seconds">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 mx-auto text-center my-5">
				<h2 class="pt-5">Torekaできること</h2><br>
			</div>	
			<div class="row mx-auto text-center my-4">
				<div class="col-md-6 col-sm-6">
					<h2 class="my-5 text-success text-left">トレーニングの情報を簡単に記録する</h2>
					<h4 class=" text-left">やっておわりのトレーニングはおしまいにしよう。<br>Torekaでは簡単にトレーニング管理をすることが可能です。</h4><br>
					<p class=" text-left"><%= link_to "Toreka-FreePlan→", "/mainpages/freeplan", class: "" %></p>
				</div>
				<div class="col-md-6 col-sm-6 pt-5">
					<%= image_tag "tr_mockup.png", class: "img-responsive img-rounded", width: "70%;" %>
				</div>
			</div>
			<div class="row mx-auto text-center my-5">
				<div class="col-md-6 col-sm-6  text-left">
					<%= image_tag "dashboard_mockup.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
				<div class="col-md-6 col-sm-6">
					<h2 class="text-left my-5 text-success">ボディメイクをスムーズに成功させる</h2>
					<h4 class="text-left">トレーニング記録、毎日の体重の管理、食事の管理を簡単にすることが可能です。</h4><br>
					<div class="text-left"><%= link_to "Toreka-BasicPlan→", "/mainpages/basicplan", class: "" %></div>
				</div>
			</div>
			<div class="row mx-auto text-center my-5">
				<div class="col-md-6 col-sm-6"><br>
					<h2 class="my-5 text-success text-left">30日間で0から身体を変える</h2>
					<h4 class="text-left">初心者でも何をすればよいのかわからない。大丈夫です。<br>貴方のデバイスが提案してくれます。</h4><br>
					<p class=" text-left"><%= link_to "Toreka-PremiumPlan→", "mainpages/premiumplan", class: "" %></p>
				</div>
				<div class="col-md-6 col-sm-6 ">
					<%= image_tag "admock.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<div class="display-4">
					<%= link_to "TorekaのPlanを比較する", plan_comparison_mainpages_path, class: "btn btn-primary btn-md" %>
				</div>
			</div>
		</div>
	</section>
	<section class="third">
		<div class="container">
			<div class="col-md-8 col-md-offset-2 mx-auto text-center py-5">
				<br><h2 class="pt-5">あなたに合うプランがきっと見つかる</h2><br>
				<p class="text-center">目的別に3プラン用意</p>
			</div>
			<div class="row">
	      <div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card ">
						<h3 class="card-header card-header-success text-left">Free</h3>
						<div class="card-body">
							<br>
							<h1 class="card-title pricing-card-title">0円
							<small class="text-muted">/ 月</small>
							</h1>
							<ul class="list-unstyled mt-3 mb-4 text-left">
								<li>トレーニングのみ管理したい方向け</li>
							</ul>
							<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card">
						<h3 class="card-header card-header-success text-left">Basic</h3>
						<div class="card-body">
							<br>
							<h1 class="card-title pricing-card-title">480円
							<small class="text-muted">/ 月</small>
							</h1>
							<ul class="list-unstyled mt-3 mb-4 text-left">
								<li>トレーニング・食事の管理をしたい方向け</li>
							</ul>
							<%= link_to "無料トライアル（14日間）", basicplan_users_path(current_user), class: "btn btn-lg btn-block btn-outline-success" %>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card">
						<h3 class="card-header card-header-success text-left">Premium</h3>
						<div class="card-body">
							<br>
							<h1 class="card-title pricing-card-title">980円
							<small class="text-muted">/ 月</small>
							</h1>
							<ul class="list-unstyled mt-3 mb-4 text-left">
								<li>ボディメイク初心者向け。手厚いプラン</li>
							</ul>
							<%= link_to "無料トライアル（14日間）", premiumplan_users_path(current_user), class: "btn btn-lg btn-block btn-outline-success" %>
						</div>
					</div>
				</div>
			</div>
			<p>※無料会員でまずはログインいただきます。ログイン後有料プランの登録をお願い致します。</p>
			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<div class="display-4">
					<%= link_to "TorekaのPlanを比較する", plan_comparison_mainpages_path, class: "btn btn-primary btn-md" %>
				</div>
			</div>
		</div>
	</section>
	<section class="fourth">
		<div class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center my-5">
			<h3>さあ始めよう！</h3>
			<p>結果を出す人は今日行動する。貴方はどう？</p><br>
			<%= link_to "無料で新規登録", plan_comparison_mainpages_path, class: "btn btn-primary btn-lg" %>
		</div>
		</div>
	</section>
</div>
<!--スマホ-->
<div class="d-lg-none">
	<section class="first">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 mx-auto text-center ">
				<br><h2 class="text-black mt-5 pt-5"><strong>ボディメイクを通して人生を豊かにしよう</strong></h2>
				<%= link_to "無料で新規登録", plan_comparison_mainpages_path, class: "btn btn-primary btn-lg my-5" %>
			</div>
		</div>
	</section>
	<section class="second">
		<div class="container">
			<div class="col-md-6 col-md-offset-3 mx-auto text-center my-5">
				<h3 class="pt-5">Torekaってどんなサービス？？</h3><br>
				<p class="text-left text-muted">Torekaはこれまでになかったボディメイク自己管理サービスです。<br>初心者の方から上級者まで全てのユーザーが利用可能で必要な機能に応じてプランを選ぶことができます。</p>
			</div>
			<div class="row mx-auto text-center my-5">
				<div class="col-md-6 col-sm-6">
					<h2 class="text-success text-left">トレーニングの情報を簡単に記録する</h2>
					<h4 class=" text-left">やっておわりのトレーニングはおしまいにしよう。<br>Torekaでは簡単にトレーニング管理をすることが可能です。</h4><br>
					<p class=" text-left"><%= link_to "Toreka-FreePlan→", "/mainpages/freeplan", class: "" %></p>
				</div>
				<div class="col-md-6 col-sm-6 text-left">
					<%= image_tag "tr_mockup.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
			<div class="row mx-auto text-center ">
				<div class="col-md-6 col-sm-6">
					<h2 class="text-left text-success">ボディメイクをスムーズに成功させる</h2>
					<h4 class="text-left">トレーニング記録、毎日の体重の管理、食事の管理を簡単にすることが可能です。</h4><br>
					<div class="text-left"><%= link_to "Toreka-BasicPlan→", "/mainpages/basicplan", class: "" %></div>
				</div>
				<div class="col-md-6 col-sm-6 text-left">
					<%= image_tag "dashboard_mockup.png", class: "img-responsive img-rounded", width: "120%;" %>
				</div>
			</div>
			<div class="row mx-auto text-center my-5">
				<div class="col-md-6 col-sm-6"><br>
					<h2 class="text-success text-left">30日間で0から身体を変える</h2>
					<h4 class="text-left">初心者でも何をすればよいのかわからない。大丈夫です。<br>貴方のデバイスが提案してくれます。</h4><br>
					<p class=" text-left"><%= link_to "Toreka-PremiumPlan→", "mainpages/premiumplan", class: "" %></p>
				</div>
				<div class="col-md-6 col-sm-6 text-left">
					<%= image_tag "admock.png", class: "img-responsive img-rounded", width: "120%;" %>
				</div>
			</div>
			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<div class="display-4 ">
					<%= link_to "TorekaのPlanを比較する", plan_comparison_mainpages_path, class: "btn btn-success btn-lg" %>
				</div>
			</div>
		</div>
	</section>
	<section class="third">
		<div class="container">
			<div class="col-md-6 col-md-offset-3 mx-auto text-center my-5">
				<br><h2 class="text-white pt-5">あなたに合うプランがきっと見つかる</h2><br>
				<p class="text-center text-muted">目的別に3プラン用意</p>
			</div>
			<div class="row">
	      <div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card ">
						<h3 class="card-header card-header-success text-left">Free</h3>
						<div class="card-body">
							<br>
							<h1 class="card-title pricing-card-title">0円
							<small class="text-muted">/ 月</small>
							</h1>
							<ul class="list-unstyled mt-3 mb-4 text-left">
								<li>トレーニングのみ管理したい方向け</li>
							</ul>
							<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card">
						<h3 class="card-header card-header-success text-left">Basic</h3>
						<div class="card-body">
							<br>
							<h1 class="card-title pricing-card-title">480円
							<small class="text-muted">/ 月</small>
							</h1>
							<ul class="list-unstyled mt-3 mb-4 text-left">
								<li>トレーニング・食事の管理をしたい方向け</li>
							</ul>
							<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6">
					<div class="card">
						<h3 class="card-header card-header-success text-left">Premium</h3>
						<div class="card-body">
							<br>
							<h1 class="card-title pricing-card-title">980円
							<small class="text-muted">/ 月</small>
							</h1>
							<ul class="list-unstyled mt-3 mb-4 text-left">
								<li>ボディメイク初心者向け。手厚いプラン</li>
							</ul>
							<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
						</div>
					</div>
				</div>
			</div>
			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
				<div class="display-4">
					<%= link_to "TorekaのPlanを比較する", plan_comparison_mainpages_path, class: "btn btn-success btn-lg" %>
				</div>
			</div>
		</div>
	</section>
	<section class="fourth">
		<div class="container">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center my-5">
			<h3>さあ始めよう！</h3>
			<p>結果を出す人は今日行動する。貴方はどう？</p><br>
			<%= link_to "無料で新規登録", plan_comparison_mainpages_path, class: "btn btn-primary btn-lg" %>
		</div>
		</div>
	</section>
</div>