<div class="container">
	<!--PCの場合-->
	<div class="d-none d-lg-block">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
			<h1>プランを選定する</h1><br>
			<h3>Torekaはボディメイクをする全ての方がお使いいただけます<br>ご自身のニーズにあったPlanをお選びください</h3>
		</div>
		<div class="row">
	    <div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card ">
					<h3 class="card-header card-header-success text-left">Free</h3>
					<div class="card-body">
						<br>
						<h1 class="card-title pricing-card-title">0円
						<small class="text-muted">/ 月</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4 text-left">
							<li>トレーニングのみ管理したい方向け</li>
						</ul>
						<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
					<h3 class="card-header card-header-success text-left">Basic</h3>
					<div class="card-body">
						<br>
						<h1 class="card-title pricing-card-title">480円
						<small class="text-muted">/ 月</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4 text-left">
							<li>トレーニング・食事の管理をしたい方向け</li>
						</ul>
						<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
					<h3 class="card-header card-header-success text-left">Premium</h3>
					<div class="card-body">
						<br>
						<h1 class="card-title pricing-card-title">980円
						<small class="text-muted">/ 月</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4 text-left">
							<li>ボディメイク初心者向け。手厚いプラン</li>
						</ul>
						<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
					</div>
				</div>
			</div>
		</div><br>
		<div class="row">
	    <div class="col-md-12">
				<div class="card card-nav-tabs">
					<h4 class="card-header card-header-success">プラン比較</h4>
					<div class="card-body">
						<div class="table-responsive">
						<table class="table">
							<thead>
								<tr class="table-active">
									<th class="text-left">機能</th>
									<th class="text-left">Free</th>
									<th class="text-center">Basic</th>
									<th class="text-center">Premium</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-left">毎日のトレーニング記録・管理</td>
									<td class="text-left"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">体重の変化を記録・管理</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">PFCバランスに沿った食事の記録・管理</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">ボディメイクプランの提案</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">目的に応じたトレーニングメニューの提案</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">トレーニングメニューHowto動画</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--スマホの場合-->
	<div class="d-lg-none">
		<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center ">
			<br><h2 class="pt-5 mt-5">プランを選定する</h2><br>
			<h4 class="text-left">Torekaはボディメイクをする全ての方がお使いいただけます<br>ご自身のニーズにあったPlanをお選びください</h4>
		</div>
		<div class="row">
	    <div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card ">
					<h3 class="card-header card-header-success text-left">Free</h3>
					<div class="card-body">
						<br>
						<h1 class="card-title pricing-card-title">0円
						<small class="text-muted">/ 月</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4 text-left">
							<li>トレーニングのみ管理したい方向け</li>
						</ul>
						<%= link_to "無料で会員登録", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
					<h3 class="card-header card-header-success text-left">Basic</h3>
					<div class="card-body">
						<br>
						<h1 class="card-title pricing-card-title">480円
						<small class="text-muted">/ 月</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4 text-left">
							<li>トレーニング・食事の管理をしたい方向け</li>
						</ul>
						<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6">
				<div class="card">
					<h3 class="card-header card-header-success text-left">Premium</h3>
					<div class="card-body">
						<br>
						<h1 class="card-title pricing-card-title">980円
						<small class="text-muted">/ 月</small>
						</h1>
						<ul class="list-unstyled mt-3 mb-4 text-left">
							<li>ボディメイク初心者向け。手厚いプラン</li>
						</ul>
						<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-block btn-outline-success" %>
					</div>
				</div>
			</div>
		</div><br>
		<div class="row">
	    <div class="col-md-12">
				<div class="card card-nav-tabs">
					<h4 class="card-header card-header-success">プラン比較</h4>
					<div class="card-body">
						<div class="table-responsive">
						<table class="table">
							<thead>
								<tr class="table-active">
									<th class="text-left">機能</th>
									<th class="text-left">Free</th>
									<th class="text-center">Basic</th>
									<th class="text-center">Premium</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-left">毎日のトレーニング記録・管理</td>
									<td class="text-left"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">体重の変化を記録・管理</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">PFCバランスに沿った食事の記録・管理</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">ボディメイクプランの提案</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">目的に応じたトレーニングメニューの提案</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
								<tr>
									<td class="text-left">トレーニングメニューHowto動画</td>
									<td class="text-left"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">clear</i></td>
									<td class="text-center"><i class="material-icons">lens</i></td>
								</tr>
							</tbody>
						</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
