<!--未ログイン用navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top text-white">
    <div class="container">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Toreka</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/" class="nav-link">
              <i class="material-icons">dashboard</i>
              HOME
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              プラン
            </a>
            <div class="dropdown-menu active" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/mainpages/plan_comparison">プランを比較</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/mainpages/basicplan">フリープラン</a>
              <a class="dropdown-item" href="/mainpages/premiumplan">プレミアムプラン</a>
            </div>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="material-icons">fingerprint</i>
              Login
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="material-icons">person_add</i>
              無料新規登録
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>

	<section class="first pt-5">
		<div class="container">
			<div class="row py-5">
				<div class="col-md-6">
					<h4 class="text-muted">Toreka PremiumPlan</h4>
					<h1>何をすればいいかはTorekaが教えてくれます</h1>
					<h3>Torekaプレミアムプランは初心者向けのプランです。<br>ボディメイクて何をすればいいのという課題を解決してくれます。</h3><br>
					<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-primary" %>
					<br><small class="text-muted ">※無料会員でまずはログインいただきます。ログイン後有料プランの登録をお願い致します。</small>
				</div>
				<div class="col-md-6">
					<%= image_tag "all_mockup.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
		</div>
	</section>
	
	<section class="second">
		<div class="container">
			<div class="col-md-8 ml-auto mr-auto ">
				<h2 class="pt-5">あなたに必要なメニューを提案してくれます</h2><br>
				<p class="text-center text-muted">目的に応じあなたにとって的確なトレーニングメニューを提案してくれます。<br>言われた通りに取り組めば必ず目的を達成できます。</p>
			</div>
			<div class="row ">
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <img class="img" src="https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" rel="nofollow">
			        <!--<%= image_tag "" %>-->
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">トレーニングを記録する</h6>
				      <hr>
				      <p class="card-description">
				        その日行ったメニューを簡単に記録することが可能。振り返りも容易
				      </p>
				    </div>
					</div>
				</div>
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <img class="img" src="https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" rel="nofollow">
			        <!--<%= image_tag "" %>-->
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">日々の体重変化を管理する</h6>
				      <hr>
				      <p class="card-description">
				        ボディメイクにおいて体重は大切な指標。簡単に管理することが可能
				      </p>
				    </div>
					</div>
				</div>
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <img class="img" src="https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" rel="nofollow">
			        <!--<%= image_tag "" %>-->
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">食事内容をPFCに沿って管理する</h6>
				      <hr>
				      <p class="card-description">
				        ボディメイクに大切なPFCバランスに沿って食事内容を管理することが可能
				      </p>
				    </div>
					</div>
				</div>
			</div>
			<div class="row mb-5">
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <img class="img" src="https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" rel="nofollow">
			        <!--<%= image_tag "" %>-->
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">ボディメイクプランの設定</h6>
				      <hr>
				      <p class="card-description">
				        ボディメイクは期間を決めることで成功する確率をあげることが可能
				      </p>
				    </div>
					</div>
				</div>
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <img class="img" src="https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" rel="nofollow">
			        <!--<%= image_tag "" %>-->
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">目的に応じたトレーニングメニュー提案</h6>
				      <hr>
				      <p class="card-description">
				        ボディメイク目的とトレーニング可能頻度を入力するだけで的確なメニューを提案してくれます
				      </p>
				    </div>
					</div>
				</div>
				<div class="col-md-3 ml-auto mr-auto">
					<div class="card card-blog">
				    <div class="card-header card-header-image">
			        <img class="img" src="https://images.unsplash.com/photo-1511439817358-bee8e21790b5?auto=format&fit=crop&w=750&q=80&ixid=dW5zcGxhc2guY29tOzs7Ozs%3D" rel="nofollow">
			        <!--<%= image_tag "" %>-->
				    </div>
				    <div class="card-body text-center">
				      <h6 class="card-category text-info">基礎トレーニングのHowto動画</h6>
				      <hr>
				      <p class="card-description">
				        メニューのやり方がわからなくなったら2〜3分にまとめられたHowto動画を見ることで解決できます
				      </p>
				    </div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<section class="wowow">
		<div class="container">
			<div class="row pt-5">
				<div class="col-md-6 pt-5 mt-5">
					<h2 class="my-5 text-primary">余計な機能がなくシンプルな設計</h2>
					<h4>無駄な機能がないため入力から閲覧までスムーズに行うことが可能です。<br>日々の煩わしいトレーニング記録をスムーズに実現させてくれます。</h4><br>
				</div>
				<div class="col-md-6 ">
					<%= image_tag "tr_mockup2.png", class: "img-responsive img-rounded", width: "70%;" %>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<%= image_tag "tr_mockup7.png", class: "img-responsive img-rounded", width: "70%;" %>
				</div>
				<div class="col-md-6 pt-5">
					<h2 class="text-left my-5 text-primary">日付毎に管理し取り出しやすい</h2>
					<h4 class="text-left">日付単位でトレーニングを管理するためいつでも振り返ることが可能です。<br>前回のトレーニング内容や重量などを簡単に振り返ることが可能です。</h4><br>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 pt-5 mt-5">
					<h2 class="my-5 text-primary">体重の変化を可視化する</h2>
					<h4>毎日の体重の変化をわかりやすくチェックすることが可能です。<br>グラフでチェックすることで毎日の変化がわかりやすくなります。</h4><br>
				</div>
				<div class="col-md-6 ">
					<%= image_tag "wg_mockup.png", class: "img-responsive img-rounded", width: "120%;" %>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-6 ">
					<%= image_tag "fd_mockup.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
				<div class="col-md-6 ">
					<h2 class="text-left my-5 text-primary">PFCバランスベースで食事を管理する</h2>
					<h4 class="text-left">PFCバランスの面倒な計算は一切しなくて大丈夫です。<br>いくつか質問に答えるだけで導き出してくれます。</h4><br>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-6 pt-5 mt-5">
					<h2 class="my-5 text-primary">ボディメイクプランを設定する</h2>
					<h4>ただなんとなくボディメイクをしていても成功確率はあがりません。プランを設定し行っていくことで成功する確率をあげることが可能です。</h4><br>
				</div>
				<div class="col-md-6 ">
					<%= image_tag "db_mockup.png", class: "img-responsive img-rounded", width: "100%;" %>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-6 ">
					<%= image_tag "admock.png", class: "img-responsive img-rounded", width: "120%;" %>
				</div>
				<div class="col-md-6 pt-5 mt-5">
					<h2 class="text-left my-5 text-primary">目的に応じたトレーニングメニューの提供</h2>
					<h4 class="text-left">初心者の方でボディメイクて何をすればよいのかわからないと言う人もいるかと思います。そんな方向けのサービス。目的と頻度を入力するだけで何をすればよいのか導いてくれます。</h4><br>
				</div>
			</div>
			<div class="row ">
				<div class="col-md-6 pt-5 mt-5">
					<h2 class="my-5 text-primary">Howtoトレーニング動画</h2>
					<h4>初心者の方は特にトレーニングの動作やマシンの使い方に迷うことがよくあります。そんなときこのHowto動画を見ていただければ簡単に解決できます。2〜3分の短い動画でどこでもわかりやすくチェックができます。</h4><br>
				</div>
				<div class="col-md-6 ">
					<%= image_tag "hv_mockup.png", class: "img-responsive img-rounded", width: "120%;" %>
				</div>
			</div>
			<div class="pricing-header text-center my-5">
				<div class="display-4 pb-5">
					<%= link_to "無料トライアル（14日間）", new_user_registration_path, class: "btn btn-lg btn-primary" %>
				</div>
			</div>
		</div>
	</section>


