<div class="container">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">WeightRecord</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">trending_down</i>
          </div>
          <h4 class="card-title">Today's Weight New</h4>
        </div>
        <div class="card-body">
          <%= form_for @weightchange do |f| %>
            <%= f.label :測定日 %>
            <%= f.date_field :date, placeholder: "date", class: 'form-control' %><br>
            <%= f.label :体重（Kg） %>
            <%= f.number_field :todayweight, placeholder: "todayweight", step: "0.1", class: 'form-control' %><br>
            <%= f.submit "送信", class: "btn btn-raised btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

