<div class="container">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Fooddiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  
  <div class="row">
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">fastfood</i>
          </div>
          <h4 class="card-title">Today's EatFood New <br>
          <small class="text-muted">食品情報を確認して入力しましょう</small>
          </h4>
        </div>
        <div class="card-body text-left">
          <%= form_for @fooddiary do |f| %>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :Date %>
              <%= f.date_field :date, placeholder: "date", class: 'form-control' %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :Food %>
              <%= f.autocomplete_field :foodname, autocomplete_fooddate_foodname_fooddiaries_path, id_element: '#fooddiary_fooddate_id', placeholder: '食品名を入力してください', class: 'form-control' %><br>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <%= f.label :Amount %>
              <%= f.number_field :gram, placeholder: "食品の質量もしくは本数（本数の場合は1と入力）", class: 'form-control' %><br>
            </div>
            <div class="col-md-4">
              <%= f.label :Unit %>
              <%= f.select :unit, [['g(食品)'], ['ml(飲料)'], ['本(バナナなど)'], ['個'], ['人前']], {}, class: "form-control" %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.label :Timing %>
              <%= f.select :timing, [['朝食'], ['昼食'], ['夕食'], ['間食']], {}, class: "form-control" %><br>
            </div>
          </div>
          <%= f.hidden_field :fooddate_id %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :idealweight_id, value: current_user.idealweight.id %>
          <%= f.submit "送信", class: "btn btn-raised btn-primary" %>
        <% end %>
        </div>
      </div>
      <div class="container">
        <small class="text-muted">※食べた食品が検索にかからない場合<%= link_to 'こちら', '/fooddates/new', class: "" %>からご登録ください</small>
      </div>
    </div>
    <div class="col-md-6 ml-auto mr-auto">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">fastfood</i>
          </div>
          <h4 class="card-title">食品情報データベースを確認する</h4>
        </div>
        <div class="card-body">
          <div class="toolbar">
            <!--        Here you can write extra buttons/actions for the toolbar              -->
          </div>
          <div class="material-datatables">
            <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
              <thead>
                <tr>
                  <th><small>食品名</small></th>
                  <th><small>量</small></th>
                  <th><small>単位</small></th>
                  <th><small>カロリー</small></th>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <th><small>食品名</small></th>
                  <th><small>量</small></th>
                  <th><small>単位</small></th>
                  <th><small>カロリー</small></th>
                </tr>
              </tfoot>
              <tbody>
                <% @fooddates.each do |fooddate| %>
                <tr>
                  <td><%= fooddate.foodname %></td>
                  <td><%= fooddate.gram %></td>
                  <td><%= fooddate.unit %></td>
                  <td><%= fooddate.kcal %>Kcal</td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

