<div class="container-fuild">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Fooddiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <% if current_user.idealweight.present? %>
    <% if @fooddiary_today.blank? %>
      <div class="popup" id="js-popup">
        <div class="popup-inner">
          <div class="close-btn" id="js-close-btn"><i class="fas fa-times"></i></div>
          <div class="card-body text-center">
            <h5>食べた食品の情報を入力しよう!!</h5>
            <small class="text-muted">
              食事管理は毎日行う必要があります。毎日の積み重ねがとても重要です。
            </small>
            <%= link_to "登録する", new_fooddiary_path, class: 'btn btn-primary' %>
          </div>
        </div>
      <div class="black-background" id="js-black-bg"></div>
      </div>
    <% end %>
    
    <!--PC-->
  <div class="d-none d-lg-block">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-warning card-header-icon">
            <div class="card-icon">
              <i class="material-icons">food_bank</i>
            </div>
            <p class="card-category">Kcal／カロリー</p>
            <h3 class="card-title"><%= @fooddiary_sum_kcal %>／<%= current_user.idealweight.kcalintake.to_i %> <small>KCAL</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a>残り：<%= current_user.idealweight.kcalintake - @fooddiary_sum_kcal %>kcal</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-success card-header-icon">
            <div class="card-icon">
              <i class="material-icons">android</i>
            </div>
            <p class="card-category">Protein／タンパク質</p>
            <h3 class="card-title"><%= @fooddiary_sum_protein %>／<%= current_user.idealweight.intakeproteingram.to_i %> <small>G</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a>残り：<%= current_user.idealweight.intakeproteingram - @fooddiary_sum_protein %>g</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-danger card-header-icon">
            <div class="card-icon">
              <i class="material-icons">local_pizza</i>
            </div>
            <p class="card-category">Fat／脂質</p>
            <h3 class="card-title"><%= @fooddiary_sum_fat %>／<%= current_user.idealweight.intakefatgram.to_i %> <small>G</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a>残り：<%= current_user.idealweight.intakefatgram - @fooddiary_sum_fat %>g</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header-info card-header-icon">
            <div class="card-icon">
              <i class="material-icons">rice_bowl</i>
            </div>
            <p class="card-category">Carbo／炭水化物</p>
            <h3 class="card-title"><%= @fooddiary_sum_carbo %>／<%= current_user.idealweight.intakecarbogram.to_i %> <small>G</small></h3>
          </div>
          <div class="card-footer">
            <div class="stats">
              <i class="material-icons text-danger">warning</i>
              <a>残り：<%= current_user.idealweight.intakecarbogram - @fooddiary_sum_carbo %> g</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--スマホ-->
  <div class="d-lg-none">
    <h5 class="text-muted">本日の食事管理情報</h5>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
              <div class="card-icon">
                <i class="material-icons">food_bank</i>
              </div>
              <p class="card-category">Kcal／カロリー</p>
              <h3 class="card-title"><%= @fooddiary_sum_kcal %>／<%= current_user.idealweight.kcalintake.to_i %> <small>KCAL</small></h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a>残り：<%= current_user.idealweight.kcalintake - @fooddiary_sum_kcal %>kcal</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
              <div class="card-icon">
                <i class="material-icons">android</i>
              </div>
              <p class="card-category">Protein／タンパク質</p>
              <h3 class="card-title"><%= @fooddiary_sum_protein %>／<%= current_user.idealweight.intakeproteingram.to_i %> <small>G</small></h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a>残り：<%= current_user.idealweight.intakeproteingram - @fooddiary_sum_protein %>g</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card card-stats">
            <div class="card-header card-header-danger card-header-icon">
              <div class="card-icon">
                <i class="material-icons">local_pizza</i>
              </div>
              <p class="card-category">Fat／脂質</p>
              <h3 class="card-title"><%= @fooddiary_sum_fat %>／<%= current_user.idealweight.intakefatgram.to_i %> <small>G</small></h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a>残り：<%= current_user.idealweight.intakefatgram - @fooddiary_sum_fat %>g</a>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
              <div class="card-icon">
                <i class="material-icons">rice_bowl</i>
              </div>
              <p class="card-category">Carbo／炭水化物</p>
              <h3 class="card-title"><%= @fooddiary_sum_carbo %>／<%= current_user.idealweight.intakecarbogram.to_i %> <small>G</small></h3>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons text-danger">warning</i>
                <a>残り：<%= current_user.idealweight.intakecarbogram - @fooddiary_sum_carbo %> g</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <!--共通-->
  <div class="row">
    <div class="col-md-12 text-right">
    <%= form_tag(fooddiaries_path, :method => "get") do %>
      <%= date_field_tag :search, id: "sbox" %> 
      <%= submit_tag "🔍" ,:created_at => nil, class: "btn btn-white btn-round btn-just-icon" %>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-tabs card-header-rose">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h4 class="nav-tabs-title">
                <i class="material-icons">fastfood</i> Food List
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-left"><small>タイミング</small></th>
                <th class="text-center"><small>食品名</small></th>
                <th class="text-center"><small>グラム数</small></th>
                <th class="text-center"><small>カロリー</small></th>
                <th class="text-center"><small>タンパク質</small></th>
                <th class="text-center"><small>脂質</small></th>
                <th class="text-center"><small>炭水化物</small></th>
                <th class="text-right"><small>設定</small></th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th><small>朝食</small></th>
                <th class="text-left"></th><th></th><th></th><th></th><th></th><th></th><th></th>
              </tr>
            </thead>
            <%= render @fooddiary_morning %>
            <thead>
              <tr>
                <th><small>昼食</small></th>
                <th class="text-left"></th><th></th><th></th><th></th><th></th><th></th><th></th>
              </tr>
            </thead>  
            <%= render @fooddiary_lunch %>
            <thead>
              <tr>
                <th><small>夕食</small></th>
                <th class="text-left"></th><th></th><th></th><th></th><th></th><th></th><th></th>
              </tr>
            </thead>
            <%= render @fooddiary_dinner %>
            <thead>
              <tr>
                <th><small>間食</small></th>
                <th class="text-left"></th><th></th><th></th><th></th><th></th><th></th><th></th>
              </tr>
            </thead>
            <%= render @fooddiary_snack %>
          </table>
          <thead><tr><th class="text-left"><%= link_to "食事を追加する", "/fooddiaries/new", class:"btn btn-rose" %></th></tr></thead>
          </div>
        </div>
      </div>
    </div>
  </div><br>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-tabs card-header-info">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h4 class="nav-tabs-title">
                <i class="material-icons">food_bank</i> Important
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="text-left"><small>合計値</small></th>
                <th class="text-center"><small>カロリー</small></th>
                <th class="text-center"><small>タンパク質（P）</small></th>
                <th class="text-center"><small>脂質（F）</small></th>
                <th class="text-center"><small>炭水化物（C）</small></th>
              </tr>
            </thead>
            <tbody>
              <td class="text-left"></td>
              <td class="text-center"><%= @fooddiary_sum_kcal %>kcal</td>
              <td class="text-center"><%= @fooddiary_sum_protein %>g</td>
              <td class="text-center"><%= @fooddiary_sum_fat %>g</td>
              <td class="text-center"><%= @fooddiary_sum_carbo %>g</td>
            </tbody>
            <thead>
              <tr>
              <th><small>目標値</small></th>  
              <th></th><th></th><th></th><th></th>
            </thead>
            <tbody>
              <td class="text-left"></td>
              <td class="text-center"><%= current_user.idealweight.kcalintake.to_i %>kcal</td>
              <td class="text-center"><%= current_user.idealweight.intakeproteingram.to_i %>g</td>
              <td class="text-center"><%= current_user.idealweight.intakefatgram.to_i %>g</td>
              <td class="text-center"><%= current_user.idealweight.intakecarbogram.to_i %>g</td>
            </tbody>
            <thead>
              <tr>
                <th><small>残りの値</small></th>
                <th></th><th></th><th></th><th></th>
              </tr>
            </thead>
            <tbody>
              <td class="text-left"></td>
              <td class="text-center"><%= current_user.idealweight.kcalintake.to_i - @fooddiary_sum_kcal %>kcal</td>
              <td class="text-center"><%= current_user.idealweight.intakeproteingram.to_i - @fooddiary_sum_protein %>g</td>
              <td class="text-center"><%= current_user.idealweight.intakefatgram.to_i - @fooddiary_sum_fat %>g</td>
              <td class="text-center"><%= current_user.idealweight.intakecarbogram.to_i - @fooddiary_sum_carbo %>g</td>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="card card-nav-tabs">
        <div class="card-header card-header-tabs card-header-success">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h4 class="nav-tabs-title">
                <i class="material-icons">donut_small</i> Progress
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <th>カロリー</th>
          <div class="pull-right"><%= @fooddiary_sum_kcal %>kcal／<%= current_user.idealweight.kcalintake.to_i %>kcal</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @fooddiary_sum_kcal*100 / current_user.idealweight.kcalintake.to_i %>%;" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div><br>
          <th>タンパク質（P）</th>
          <div class="pull-right"><%= @fooddiary_sum_protein %>g／<%= current_user.idealweight.intakeproteingram.to_i %>g</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @fooddiary_sum_protein*100 / current_user.idealweight.intakeproteingram.to_i %>%;" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div><br>
          <th>脂質（F）</th>
          <div class="pull-right"><%= @fooddiary_sum_fat %>g／<%= current_user.idealweight.intakefatgram.to_i %>g</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @fooddiary_sum_fat*100 / current_user.idealweight.intakefatgram.to_i %>%;" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div><br>
          <th>炭水化物（C）</th>
          <div class="pull-right"><%= @fooddiary_sum_carbo %>g／<%= current_user.idealweight.intakecarbogram.to_i %>g</div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @fooddiary_sum_carbo*100 / current_user.idealweight.intakecarbogram.to_i %>%;" aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!--Twitter-->
  <% if current_user.useradvice.present? %>
    <a href="https://twitter.com/share?url=https://toreka.herokuapp.com/&text=<%= current_user.useradvice.purpose %>コースで本日<%= current_user.what_day %>日目!!Torekaでボディメイク頑張ってるなう!!&hashtags=Toreka&hashtags=ダイエット&hashtags=ボディメイク&hashtags=筋トレ&hashtags=食事管理&hashtags=継続は力なり" class="twitter-share-button" data-show-count="false">Twitterでシェア</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <!--facebook-->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v8.0&appId=432448867605749&autoLogAppEvents=1" nonce="sOOuxunP"></script>
    <div class="fb-share-button" data-href="http://yastinblog.com/" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fyastinblog.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">FBでシェア</a></div>
  <% end %>
  
  <!--idealweight未入力-->
  <% else %>
  <div class="text-center">
    <h3>食事管理を始めるためにいくつかの項目を入力しましょう</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 mx-auto text-center">
      <%= image_tag "ozo_1.png", class: "card-img-top", width: "50%;" %>
      <%= link_to "必要情報を入力する", "/idealweights/new", class: "btn btn-raised btn-success" %>
    </div>
  </div>
  <% end %>
</div>