<div class="container">
  <!--Navbar-->
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Fooddiary</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <!--PCデバイスの場合-->
  <!--<div class="d-none d-lg-block">-->
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <h4 class="nav-tabs-title">
                  <i class="material-icons">trending_down</i> 食べた食事内容を入力する
                </h4>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" style="table-layout:fixed;">
                <thead class="thead-light">
                  <tr>
                    <th style="width:150px;"><small>日付</small></th>
                    <th style="width:150px;"><small>食品名</small></th>
                    <th style="width:150px;"><small>グラム数</small></th>
                    <th style="width:150px;"><small>タイミング</small></th>
                  </tr>
                </thead>
                <tbody>
                  <%= form_for @fooddiary do |f| %>
                  <tr>
                    <td><%= f.date_field :date, placeholder: 'date', class: 'form-control' %></td>
                    <td><%= f.autocomplete_field :foodname, autocomplete_fooddate_foodname_fooddiaries_path, id_element: '#fooddiary_fooddate_id', placeholder: '食品名を入力してください', class: 'form-control' %></td>
                    <td><%= f.number_field :gram, placeholder: "gram", class: 'form-control' %></td>
                    <td><%= f.select :timing, [['朝食'], ['昼食'], ['夕食'], ['間食']], {}, class: "form-control" %></td>
                    <%= f.hidden_field :fooddate_id %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :idealweight_id, value: current_user.idealweight.id %>
                  </tr>
                </tbody>
              </table>
            </div>
            <thead>
              <tr>
                <td><%= f.submit "登録", class: "btn btn-raised btn-primary" %></td>
              </tr>
            </thead>
              <% end %>
          </div>
        </div>
        <div class="container">
          <small class="text-muted">※食べた食品が検索にかからない場合<%= link_to 'こちら', '/fooddates/new', class: "" %>からご登録ください</small>
        </div>
      </div>
    </div>
</div>