<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Idealweight</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="row">
    <div class="d-none d-lg-block">
      <div class="col-md-12 pb-3">
        <ul class="nav nav-pills">
          <li class="nav-item ">
            <%= link_to user_path(current_user), class: "nav-link " do %>
              プロフィール
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to plancheck_users_path, class: "nav-link" do %>
              プラン確認
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to card_path, class: "nav-link " do %>
              お支払いカード
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to content_advicediaries_path, class: "nav-link active" do %>
              Bodymake目標
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">パーソナルな情報を入力していきましょう</h4>
        </div>
        <div class="card-body">
          <%= form_for @idealweight do |f| %>
          <div class="row">
            <div class="col-md-4">
                <%= f.hidden_field :user_id, value: current_user.id %>
              <div class="form-group">
                <%= f.label :height／身長 %>
                <%= f.number_field :height, placeholder: "height", class: 'form-control' %><br>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :weight／現在の体重 %>
                <%= f.number_field :weight, placeholder: "weight", class: 'form-control' %><br>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <%= f.label :targetweight／目標体重 %>
                <%= f.number_field :targetweight, placeholder: "targetweight", class: 'form-control' %><br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <%= f.label :exerciselevel／運動量レベル %><br>
                <%= f.radio_button :exerciselevel, "1.2" %> 運動はほとんどしていない<br>
                <%= f.radio_button :exerciselevel, "1.375" %> 1週間に1，2回軽い運動をする<br>
                <%= f.radio_button :exerciselevel, "1.55" %> 1週間に2，3回筋トレをする<br>
                <%= f.radio_button :exerciselevel, "1.725" %> 1週間に4～6回は結構激しい筋トレをする<br>
                <%= f.radio_button :exerciselevel, "1.9" %> ほぼ毎日かなり激しい筋トレをする<br>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <%= f.label :ボディメイク開始日, class: "bmd-label-floating" %>
              <%= f.date_field :start_day, class: 'form-control' %>
            </div>
            <div class="form-group col-md-6">
              <%= f.label :ボディメイク終了日, class: "bmd-label-floating" %>
              <%= f.date_field :last_day, class: 'form-control' %>
            </div>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            入力完了！
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">※入力時の注意</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <small class="text-muted">短期で一気に行うボディメイクは危険が伴いますのでおすすめできません.<br>1ヶ月あたり最大でも5kgまでの増減幅に抑えましょう.<br><br>当サービスでは健康を第一としたボディメイクを提供しています.<br><br></small>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">再度入力し直す</button>
                  <%= f.submit "そのまま送信する", class: "btn btn-raised btn-primary", data: { disable_with: '送信中...' } %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>