<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Idealweight</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="row">
    <div class="d-none d-lg-block">
      <div class="col-md-12 pb-3">
        <ul class="nav nav-pills">
          <li class="nav-item ">
            <%= link_to user_path(current_user), class: "nav-link " do %>
              プロフィール
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to plancheck_users_path, class: "nav-link" do %>
              プラン確認
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to card_path, class: "nav-link " do %>
              お支払いカード
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to content_advicediaries_path, class: "nav-link active" do %>
              Bodymake目標
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="card card-profile text-center card-hidden">
        <div class="card-header ">
          <div class="card-avatar">
            <% if current_user.image.attached? %>
              <%= image_tag current_user.image, class: "img" %>
            <% else %>
              <img class="img" src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
            <% end %>
          </div>
        </div>
        <div class="card-body ">
          <h4 class="card-title"><%= current_user.username %></h4>
          <h6 class="card-category text-gray"><%= current_user.text %></h6>
        </div>
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="card">
        <div class="card-header card-header-primary card-header-icon">
          <div class="card-icon">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title">ボディメイク基本情報</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">身長</label>
                <h5 class="form-control"><%= current_user.idealweight.height %> <small>cm</small></h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">体重（初日）</label>
                <h5 class="form-control"><%= current_user.idealweight.weight %> <small>kg</small></h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">目標体重</label>
                <h5 class="form-control"><%= current_user.idealweight.targetweight %> <small>kg</small></h5>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label class="bmd-label-floating">運動量レベル</label>
                <h5 class="form-control"><%= current_user.idealweight.exerciselevel %></h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">ボディメイク期間</label>
                <h5 class="form-control"><%= current_user.idealweight.start_day %> ~ <%= current_user.idealweight.last_day %></h5>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            編集する
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ご注意ください!!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <small class="modal-body">
                  編集後はプラン含め情報がリセットされます。<br>やむを得ない場合以外なるべく変更はしないようにしましょう。
                </small>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <!--<button type="button" class="btn btn-primary">Save changes</button>-->
                  <%= link_to "編集する", edit_idealweight_path, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <!--<%= link_to "削除する", idealweight_path, method: :delete, class: "dropdown-item" %>-->
        </div>
      </div>
    </div>
  </div>
</div>