<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">お支払いカード情報</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="row">
    <div class="d-none d-lg-block">
      <div class="col-md-12 pb-3">
        <ul class="nav nav-pills">
          <li class="nav-item ">
            <%= link_to user_path(current_user), class: "nav-link " do %>
              プロフィール
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to plancheck_users_path, class: "nav-link" do %>
              プラン確認
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to card_path(current_user), class: "nav-link active" do %>
              お支払いカード
            <% end %>
          </li>
          <li class="nav-item ">
            <%= link_to content_advicediaries_path, class: "nav-link" do %>
              Bodymake目標
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="text-left">
        <h3>カード情報入力</h3>
        <small>クレジットカード決済については、Pay.jpを利用しております。<br>このクレジットカード情報は当社では保持せず、決済代行会社であるBase社で安全に管理されます。</small><br>
      </div>
      <div class="card mx-auto text-left py-3">
        <div class="container">
          <%= form_tag(pay_cards_path, method: :post, id: 'charge-form',  name: "inputForm") do %>
            <div class="form-group">
              <label class="text-left">✅カード番号 ※必須</label>
              <br/>
              <%= text_field_tag "number", "", class: "form-control", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "card_number" %>
            </div>
            <div class="form-group">
              <label class="text-left">✅有効期限 ※必須</label>
              <br/>
              <select class="card-valid col-4 text-center" id="exp_month" name="exp_month" type="text">
                <option>--</option>
                <option value="1">01</option>
                <option value="2">02</option>
                <option value="3">03</option>
                <option value="4">04</option>
                <option value="5">05</option>
                <option value="6">06</option>
                <option value="7">07</option>
                <option value="8">08</option>
                <option value="9">09</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
              </select>
              <span class="col-1">月／</span>
              <select class="card-valid col-4 text-center" id="exp_year" name="exp_year" type="text">
                <option>--</option>
                <option value="2019">19</option>
                <option value="2020">20</option>
                <option value="2021">21</option>
                <option value="2022">22</option>
                <option value="2023">23</option>
                <option value="2024">24</option>
                <option value="2025">25</option>
                <option value="2026">26</option>
                <option value="2027">27</option>
                <option value="2028">28</option>
                <option value="2029">29</option>
              </select>
              <span class="col-1">年</span>
            </div>
            <div class="form-group text-left">
              <label>✅セキュリティコード ※必須</label>
              <br/>
              <%= text_field_tag "cvc", "", class: "form-control", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc" %>
            </div>
            <div class="form-group">
              <div id="card_token"></div>
              <%= submit_tag "登録する", id: "token_submit", class: 'btn btn-primary' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
