
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">CardRegistration</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
        <span class="navbar-toggler-icon icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">notifications</i>
              <span class="notification">✓</span>
              <p class="d-lg-none d-md-block">
                Some Actions
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
              <!--freeプラン以外（有料プラン）で目標目的両方入力していない場合-->
              <% if current_user.plan != 'free' && current_user.idealweight.blank? && current_user.useradvice.blank? %>
                <%= link_to "Bodymake目標／目的を入力", new_idealweight_path, class: "dropdown-item" %>
              <!--freeプラン以外（有料プラン）で目標のみ未入力の場合（基本ないけど）-->
              <% elsif current_user.plan != 'free' && current_user.idealweight.present? && current_user.useradvice.blank? %>
                <%= link_to "Bodymake目標を入力", new_useradvice_path, class: "dropdown-item" %>
              <!--freeプラン以外（有料プラン）で目的のみ未入力の場合-->
              <% elsif current_user.plan != 'free' && current_user.idealweight.blank? && current_user.useradvice.present? %>
                <%= link_to "Bodymake目的を入力", new_idealweight_path, class: "dropdown-item" %>
              <!--freeプラン以外（有料プラン）で全て入力済みの場合-->
              <% elsif current_user.plan != 'free' && current_user.idealweight.present? && current_user.useradvice.present? %>
                <%= link_to "通知はありません", "", class: "dropdown-item" %>
              <!--freeプランの場合-->
              <% elsif current_user.plan == 'free' %>
                <%= link_to "通知はありません", "", class: "dropdown-item" %>
              <% end %>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="material-icons">person</i>
              <p class="d-lg-none d-md-block">
                Account
              </p>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
              <%= link_to "Profile", user_path(current_user), class: "dropdown-item" %>
              <%= link_to "Settings", "/settings", class: "dropdown-item" %>
              <%= link_to "PlanChange?", plancheck_users_path(current_user), class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="col-md-8 col-md-offset-2 mx-auto text-center ">
    <div class="card">
      <div class="card-header card-header-success text-left">
        <h4 class="card-title">クレジットカード情報</h4>
        <p class="card-category">Check my card.</p>
      </div>
      <div class="card-body text-left">
        <form>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">クレジットカード番号</label>
              <h5 class="form-control"><%= "**** **** **** " + @default_card_information.last4 %></h5>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="bmd-label-floating">カード有効期限</label>
              <% exp_month = @default_card_information.exp_month.to_s %>
              <% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
              <h5 class="form-control"><%= exp_month + " / " + exp_year %></h5>
            </div>
          </div>
        </div>
        <%= form_tag(delete_cards_path, method: :post, id: 'charge-form',  name: "inputForm", data: {confirm: "削除が完了しました"}) do %>
          <input name="card_id" type="hidden">
          <button class="btn btn-outline-danger">登録カードを削除する</button>
        <% end %>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-8 col-md-offset-2 mx-auto text-center ">
    <div class="card mx-auto py-5">
      <div class="text-center">
        <%= link_to "プランを確認・変更する", plancheck_users_path(current_user), class: "btn btn-success" %>
        <%= link_to "マイページへ戻る", user_path(current_user), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  
  
  
</div>



