<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Inquiry</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <h2>お問い合わせ内容の確認</h2>
	<hr>
	<%= form_for @inquiry, :url => inquiry_thanks_path do |f| %>
	  <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                	<%= f.hidden_field :nickname %>
                  <label class="bmd-label-floating">Name</label>
                  <h5 class="form-control"><%= @inquiry.nickname %></h5>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                	<%= f.hidden_field :email %>
                  <label class="bmd-label-floating">Email</label>
                  <h5 class="form-control"><%= @inquiry.email %></h5>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                	<%= f.hidden_field :message %>
                  <label class="bmd-label-floating">Message</label>
                  <h5 class="form-control"><%= simple_format(@inquiry.message) %></h5>
                </div>
              </div>
            	<div class="clearfix"></div>
            </div>
          </form>
        </div>
      </div>
  		<%= f.submit '送信', :class => 'btn btn-primary' %>
    </div>
	  
	<% end %>
</div>