<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Inquiry</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <%= form_for @inquiry, :url => inquiry_confirm_path do |f| %>
    
    <h2>お問い合わせ</h2>
    <hr>
    <small class="text-muted">お問い合わせからご要望・ボディメイクに関する質問まで何でもお待ちしております。</small>
    
    <% if @inquiry.errors.any? %>
      <div class="alert alert-danger" role="alert">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @inquiry.errors.each do |attr, msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  
    <div class="row">
      <div class="col-md-12">
      	<div class="card card-nav-tabs">
      		<div class="card-body">
  			  <%= f.label :name %><span class="text-danger">（必須）</span><br>
  			  <%= f.text_field :nickname, class: "form-control" %><br>
  			  <%= f.label :email %><span class="text-danger">（必須）</span><br>
  			  <%= f.text_field :email, class: "form-control" %><br>
  			  <%= f.label :message %><br>
  			  <%= f.text_area :message, class: "form-control" %><br>
  			  </div>
  		  </div>
  	  </div>
    </div>
    <%= f.submit '確認', class: 'btn btn-primary' %>
  <% end %>
</div>