<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Useradvice</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-nav-tabs bg-light">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h4 class="nav-tabs-title">
                <i class="material-icons">find_in_page</i> ボディメイク目的
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <%= form_for @useradvice do |f| %>
          <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :purpose, "ダイエット", required: true %>ダイエット</label>
                  </div></h4>
                  <p class="card-text">食事管理とトレーニングによってダイエットを目指すプランです</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> 週4日プランがおすすめ！
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :purpose, "筋力UP" %>筋力UP</label>
                  </div></h4>
                  <p class="card-text">増量をしながらトレーニングを行いバルクアップを目指すプランです</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> 週4日プランがおすすめ！
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :purpose, "美尻" %>美尻</label>
                  </div></h4>
                  <p class="card-text">集中的にお尻付近を鍛え美尻を目指すプランです</p>
                  <small class="text-info">※負荷が強いので最大でも週3日までにしましょう。</small>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> 週3日プランがおすすめ！
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :purpose, "美女コース" %>美女コース</label>
                  </div></h4>
                  <p class="card-text">美しい女性を目指し必要な部位を鍛えていくプランです</p>
                </div>
                <div class="card-footer">
                  <div class="stats">
                    <i class="material-icons">date_range</i> 週4日プランがおすすめ！
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-nav-tabs bg-light">
        <div class="card-header card-header-tabs card-header-primary">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <h4 class="nav-tabs-title">
                <i class="material-icons">find_in_page</i> ボディメイク頻度（週）
              </h4>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :frequency, "1", required: true %>週1日</label>
                  </div></h4>
                  <p class="card-text">お忙しい方は無理なく週1日頑張りましょう</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :frequency, "2" %>週2日</label>
                  </div></h4>
                  <p class="card-text">身体を変えたければ週2日は頑張りましょう</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :frequency, "3" %>週3日</label>
                  </div></h4>
                  <p class="card-text">週3日トレーニングできれば早期で身体を変えることができます</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :frequency, "4" %>週4日</label>
                  </div></h4>
                  <p class="card-text">短期で成果を出したければ週4日頑張りましょう</p>
                </div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">
                  <div class="radio">
                    <label><%= f.radio_button :frequency, "5" %>週5日</label>
                  </div></h4>
                  <p class="card-text">本格的にトレーニングしたい方は週5日頑張りましょう</p>
                </div>
              </div>
            </div>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :idealweight_id, value: current_user.idealweight.id %>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            入力完了！
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">※入力時の注意</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p class="text-muted">入力内容に問題なければそのままお進みください</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">再度入力し直す</button>
                  <%= f.submit "そのまま送信する", class: "btn btn-raised btn-success", data: { disable_with: '問い合わせ中...' } %>
                </div>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

