<div class="container">
  <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
    <div class="container-fluid">
      <div class="navbar-wrapper">
        <a class="navbar-brand" href="javascript:;">Useradvice</a>
      </div>
      <%= render 'users/users' %>
    </div>
  </nav>
  <div class="col-md-8 col-md-offset-4 mx-auto text-center">
    <div class="card mx-auto text-left">
      <div class="card-header card-header-success">
        <h4 class="card-title">ボディメイク目的情報</h4>
      </div>
      <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Purpose／目的</label>
                <h5 class="form-control"><%= current_user.useradvice.purpose %></h5>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="bmd-label-floating">Frequency／頻度（週）</label>
                <h5 class="form-control"><small> 週</small> <%= current_user.useradvice.frequency %> <small>日</small></h5>
              </div>
            </div>
          <div class="clearfix"></div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            編集する
          </button>
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">ご注意ください</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <small class="modal-body">
                  編集後はプラン含め情報がリセットされます.<br>やむを得ない場合以外なるべく変更はしないようにしましょう。
                </small>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <%= link_to "編集する", edit_useradvice_path, class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
          <!--<%= link_to "削除する", useradvice_path, method: :delete, class: "dropdown-item" %>-->
        </div>
      </div>
    </div>
  </div>
</div>