<!DOCTYPE html>
<html>
  <head>
    <title>Toreka</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <!--Payjp-->
    <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
    
    <!--css,js-->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
    <!--icon関連-->
    <link rel="apple-touch-icon" sizes="76x76" href="assets/apple-icon.png">
    <%= favicon_link_tag('new_logo.png') %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    
    <!--スマホ対応-->
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    
    <!--Twitterカード設定-->
    <meta name="twitter:card" content='summary' />
    <meta name="twitter:site" content='@yastinbieber6' />
    <meta property="og:url" content='https://torekabodymake.com' />
    <meta property="og:title" content='Toreka' />
    <meta property="og:description" content='ボディメイクを通じて人生を豊かにしよう' />
    <meta property="og:image" content='https://yastinblog.com/wp-content/uploads/2021/02/98d11e1afa63d4c98bbb5f2b38a67398.png' />
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
    
    <!--内容-->
    <div class="wrapper ">
      <% if user_signed_in? %>
      <div class="sidebar" data-color="rose" data-background-color="black" data-image="">
        <div class="logo"><a href="" class="simple-text logo-mini">
            <!--ロゴ-->
          </a>
          <a href="" class="simple-text logo-normal">
            Toreka
          </a>
        </div>
        <div class="sidebar-wrapper">
          <div class="user">
            <div class="photo">
              <% if current_user.image.attached? %>
                <%= image_tag current_user.image %>
              <% else %>
                <img src="https://raw.githubusercontent.com/azouaoui-med/pro-sidebar-template/gh-pages/src/img/user.jpg" alt="User picture">
              <% end %>
            </div>
            <div class="user-info">
              <a data-toggle="collapse" href="#collapseExample" class="username">
                <span>
                  <%= current_user.username %>
                  <b class="caret"></b>
                </span>
              </a>
              <div class="collapse" id="collapseExample">
                <ul class="nav">
                  <li class="nav-item ">
                    <%= link_to user_path(current_user), class: "nav-link" do %>
                      <span class="sidebar-mini"> MP </span>
                      <span class="sidebar-normal"> My Profile </span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to plancheck_users_path, class: "nav-link" do %>
                      <span class="sidebar-mini"> PC </span>
                      <span class="sidebar-normal"> プラン確認 </span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to card_path(current_user), class: "nav-link" do %>
                      <span class="sidebar-mini"> CC </span>
                      <span class="sidebar-normal"> お支払いカード </span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to content_advicediaries_path, class: "nav-link" do %>
                      <span class="sidebar-mini"> BI </span>
                      <span class="sidebar-normal"> ボディメイク目標 </span>
                    <% end %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <ul class="nav">
            <li class="nav-item ">
              <%= link_to dashboards_path, class: "nav-link" do %>
                <i class="material-icons">dashboard</i>
                <p>ダッシュボード</p>
              <% end %>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="#pagesExamples">
                <i class="material-icons">fitness_center</i>
                <p> トレーニング記録
                  <b class="caret"></b>
                </p>
              </a>
              <div class="collapse" id="pagesExamples">
                <ul class="nav">
                  <% if current_user.plan == 'pln_572790307dd04b525bdd0a155347' || current_user.demo == "torekadekawaro" %>
                  <li class="nav-item ">
                    <%= link_to "/advicediaries/", class: "nav-link" do %>
                      <span class="sidebar-mini"> TA </span>
                      <span class="sidebar-normal"> トレーニング管理/記録 </span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to "/howtovideos/", class: "nav-link" do %>
                      <span class="sidebar-mini"> TV </span>
                      <span class="sidebar-normal"> トレーニング動画 </span>
                    <% end %>
                  </li>
                  <% else %>
                  <li class="nav-item ">
                    <%= link_to "/workoutdiaries/", class: "nav-link" do %>
                      <span class="sidebar-mini"> TK </span>
                      <span class="sidebar-normal"> トレーニング管理/記録 </span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to "/workoutdates/new", class: "nav-link" do %>
                      <span class="sidebar-mini"> TN </span>
                      <span class="sidebar-normal"> トレーニングメニューの追加 </span>
                    <% end %>
                  </li>
                  <% end %>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link" data-toggle="collapse" href="#formsExamples">
                <i class="material-icons">fastfood</i>
                <p> PFCバランス
                  <b class="caret"></b>
                </p>
              </a>
              <div class="collapse" id="formsExamples">
                <ul class="nav">
                  <li class="nav-item ">
                    <%= link_to "/fooddiaries/", class: "nav-link" do %>
                      <span class="sidebar-mini"> FM </span>
                      <span class="sidebar-normal"> 食事管理/記録 </span>
                    <% end %>
                  </li>
                  <li class="nav-item ">
                    <%= link_to "/fooddates/new", class: "nav-link" do %>
                      <span class="sidebar-mini"> FD </span>
                      <span class="sidebar-normal"> 食品情報入力 </span>
                    <% end %>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <%= link_to "/weightchanges", class: "nav-link" do %>
                <i class="material-icons">monitor_weight</i>
                <p>体重管理・記録</p>
              <% end %>
            </li>
            <% if current_user.plan == 'pln_572790307dd04b525bdd0a155347' || current_user.demo == "torekadekawaro" %>
            <li class="nav-item ">
              <%= link_to "/contacts", class: "nav-link" do %>
                <i class="material-icons">sms</i>
                <p>LINEで相談</p>
              <% end %>
            </li>
            <% end %>
            <li class="nav-item ">
              <%= link_to "/settings", class: 'nav-link' do %>
                <i class="material-icons">settings</i>
                <p>設定</p>
              <% end %>
            </li>
            <li class="nav-item active-pro ">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
                <i class="material-icons">unarchive</i>
                <p>LogOut</p>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="main-panel">
        <div class="content">
          <%= yield %>
        </div>
        <footer class="footer">
          <div class="container-fluid">
            <nav class="float-left">
              <ul>
                <li>
                  <a href="https://yastinblog.com" target="_blank">Blog</a>
                </li>
              </ul>
            </nav>
            <div class="copyright float-right">
              &copy;
              <!--<script>-->
              <!--  document.write(new Date().getFullYear())-->
              <!--</script>-->
              2021, made with <i class="material-icons">favorite</i> produced by
              <a href="" target="_blank">Toreka</a>.
            </div>
          </div>
        </footer>
      </div>
      <% else %> <!--未ログイン-->
      <div class="off-canvas-sidebar">
        <div class="content">
          <%= yield %>
        </div>
      </div>
      <footer class="footer fixed-bottom text-white">
        <div class="container">
          <nav class="float-left">
            <ul>
              <li>
                <a href="https://yastinblog.com" target="_blank">Blog</a>
              </li>
            </ul>
          </nav>
          <div class="copyright float-right">
            &copy;
            <!--<script>-->
            <!--  document.write(new Date().getFullYear())-->
            <!--</script>-->
            2021, made with <i class="material-icons">favorite</i> produced by
            <a href="" target="_blank">Toreka</a>.
          </div>
        </div>
      </footer>
      <% end %>
    </div>
   
    <!--コレ書かないといけないぽい-->
    <script>
      $(document).ready(function() {
        $('#datatables').DataTable({
          "pagingType": "full_numbers",
          "lengthMenu": [
            [5, 10, 25, 50, -1],
            [5, 10, 25, 50, "All"]
          ],
          responsive: true,
          language: {
            search: "_INPUT_",
            searchPlaceholder: "Search...",
          }
        });
  
        var table = $('#datatable').DataTable();
  
        // Edit record
        table.on('click', '.edit', function() {
          $tr = $(this).closest('tr');
          var data = table.row($tr).data();
          alert('You press on Row: ' + data[0] + ' ' + data[1] + ' ' + data[2] + '\'s row.');
        });
  
        // Delete a record
        table.on('click', '.remove', function(e) {
          $tr = $(this).closest('tr');
          table.row($tr).remove().draw();
          e.preventDefault();
        });
  
        //Like record
        table.on('click', '.like', function() {
          alert('You clicked on Like button');
        });
      });
    </script>
    <script>
      $(document).ready(function() {
        md.checkFullPageBackgroundImage();
        setTimeout(function() {
          // after 1000 ms we add the class animated to the login/register card
          $('.card').removeClass('card-hidden');
        }, 700);
      });
    </script>

  </body>
</html>

